{{ partial "head.html" . }}

<!-- define baseurl -->
{{ $baseurl := .Site.BaseURL }} 
{{ $singular := ( .Title | singularize) }}
<!-- define metadata stuff -->
{{ $metadata := index $.Site.Data.metadata $singular }}
<!-- define characters stuff -->
{{ $char_title := ( replace .Title " " "-" ) }} 
{{ $character := index $.Site.Data.characters $char_title }}

<main class="archives {{ if and (isset $metadata "name") (and (not (eq $metadata.name "Chipmunk Bay") ) ) }} -notcb {{ end }}">

    <div class="container">
        <section class="archives__results" data-type="{{$metadata.Type}}">
            <!-- define paginator -->
            {{ if isset $metadata "name" }}
                {{ if eq $metadata.name "Guest Comic" }}
                    {{ $pag := .Paginate (where .Data.Pages "Type" "guest").Reverse }}
                    {{ $.Scratch.Add "pag" $pag }}
                    <!--Guest comic is true!-->
                {{ else if eq $metadata.name "Mouse House" }}
                    {{ $pag := .Paginate (where .Data.Pages "Type" "mousehouse").Reverse }}
                    {{ $.Scratch.Add "pag" $pag }}
                    <!--Mouse House is true!-->
                {{ else if eq $metadata.name "Ninja Monkey" }}
                    {{ $pag := .Paginate (where .Data.Pages "Type" "ninjamonkey").Reverse }}
                    {{ $.Scratch.Add "pag" $pag }}
                    <!--Ninja Monkey is true!-->
                {{ else if eq $metadata.name "Team N3" }}
                    {{ $pag := .Paginate (where .Data.Pages "Type" "teamn3").Reverse }}
                    {{ $.Scratch.Add "pag" $pag }}
                    <!--Team n3 is true!-->
                {{ else if eq $metadata.name "Chipmunk Bay" }}
                    {{ $pag := .Paginate (where .Data.Pages "Type" "chipmunkbay").Reverse }}
                    {{ $.Scratch.Add "pag" $pag }}
                    <!--Chipmunk Bay is true!-->
                {{ else }}
                    {{ $pag := .Paginator }}
                    {{ $.Scratch.Add "pag" $pag }}
                    <!--REgular paginator is true!-->
                {{ end }}
            {{ else if (not (isset $metadata "name") ) }}
                {{ $pag := .Paginate (where .Data.Pages "Type" "chipmunkbay").Reverse }}
                {{ $.Scratch.Add "pag" $pag }}
                <!--Taxonomy is true!-->
            {{ else }}
                {{ $pag := .Paginator }}
                {{ $.Scratch.Add "pag" $pag }}
                <!--REgular paginator is true!-->
            {{ end }}

            {{ $pag := $.Scratch.Get "pag" }}
            <header class="archives__results--header">
                <h3 class="archives__results--page-title">
                    {{ if isset .Data "storyline" }}
                        Comics in the <span>"{{ .Title }}"</span> storyline
                    {{ else if isset .Data "characters" }}
                        <!--{{ if isset $character "thumb" }}
                            <figure>
                                <img src="{{ $baseurl }}_files/img/thumb/{{ $character.thumb }}" alt="profile picture for {{ $character.fullname }}">
                            </figure>
                        {{ end }}-->
                        Comics featuring <span>"{{ .Title }}"</span> 
                        {{ if isset $character "level" }}
                            <label>
                                {{ $character.level }} cast member 
                            </label>
                        {{ end }}
                    {{ else if isset .Data "tags" }}
                        Comics tagged as <span>"{{ .Title }}"</span> 
                    {{ else if isset $metadata "name" }}
                        {{ $metadata.name }} archives
                    {{ else }}
                        Comic archives
                    {{ end }}                
                    
                </h3>
                <p class="archives__results--count">Showing {{add (mul (sub $pag.PageNumber 1) $pag.PageSize) 1 }}-{{ if $pag.HasNext }}{{ mul $pag.PageNumber $pag.PageSize }}{{ else }}{{ $pag.TotalNumberOfElements }}{{ end }} of {{ $pag.TotalNumberOfElements }} total comics.</p>
            </header>
            <main class="archives__results--main">
                <!-- return actual results -->
                {{ range $index, $pag.Pages.ByDate }}
                    {{ partial "archives__results.html" . }}
                {{ end }}
                <!-- end results for this page -->
            </main>
            <!-- if there are pages, render pagination -->
            <footer class="archives__results--footer">
                
                {{ $window := $.Site.Params.paginateWindow | default 1 }}
                {{ if gt $pag.TotalPages 1 }}
                    {{ $total := $pag.TotalPages }}
                    {{ $size := add 5 (add $window $window) }}
                    {{ $cur := $pag.PageNumber }}
                    {{ if gt $total $size }}
                        {{ if lt $cur (sub $size (add $window 1)) }}
                            {{ $.Scratch.Set "show" (seq 1 (sub $size 2)) }}
                        {{ else if lt (sub $total $cur) (sub $size (add $window 2)) }}
                            {{ $.Scratch.Set "show" (seq (add (sub $total $size) 3) $total) }}
                        {{ else }}
                            {{ $.Scratch.Set "show" (seq (sub $cur $window) (add $cur $window)) }}
                        {{ end }}
                        {{ $.Scratch.Add "show" 1 }}
                        {{ $.Scratch.Add "show" $total }}
                    {{ else }}
                        {{ $.Scratch.Set "show" (seq 1 $total) }}
                    {{ end }}
                    <ul class="ul ul-inline pagination archives__pagination">
                        <!-- if there are more than 1 pages of results -->
                    
                        <!-- first -->
                        {{ if not $pag.HasPrev }}
                        <li class="-disabled archives__pagination--item">
                            <span class="archives__pagination--text" aria-hidden="true">&laquo;</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                <use xlink:href="#icon-tag"></use>
                            </svg>
                        </li>
                        {{ else }}
                        <li class="archives__pagination--item">
                            <a aria-label="First" title="First page of results" href="{{ $baseurl }}{{ $pag.First.URL }}">
                                <span class="archives__pagination--text" aria-hidden="true">&laquo;</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                    <use xlink:href="#icon-tag"></use>
                                </svg>
                            </a>
                        </li>
                        {{ end }}
                        <!-- prev -->
                        {{ if not $pag.HasPrev }}
                        <li class="-disabled archives__pagination--item">
                            <span class="archives__pagination--text" aria-hidden="true">&lsaquo;</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                <use xlink:href="#icon-tag"></use>
                            </svg>
                        </li>
                        {{ else }}
                        <li class="archives__pagination--item">
                            <a aria-label="Previous" title="Previous page of results" href="{{ $baseurl }}{{ $pag.Prev.URL }}">
                                <span class="archives__pagination--text" aria-hidden="true">&lsaquo;</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                    <use xlink:href="#icon-tag"></use>
                                </svg>
                            </a>
                        </li>
                        {{ end }}
                        <!-- page numbers -->
                        {{ range $pag.Pagers }}
                            {{ $cur := .PageNumber }}
                            {{ if in ($.Scratch.Get "show") $cur }}
                                <li {{ if eq . $pag }} class="-active archives__pagination--item" {{ else }} class="archives__pagination--item" {{ end }}>
                                    <a href="{{ $baseurl }}{{ .URL }}" title="Page {{ .PageNumber }}">
                                        <span class="archives__pagination--text">{{ .PageNumber }}</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                            <use xlink:href="#icon-tag"></use>
                                        </svg>
                                    </a>
                                </li>
                            {{ else if in (slice 2 (sub $total 1)) $cur }}
                                <li class="archives__pagination--item">
                                    <span class="archives__pagination--text" aria-hidden="true">&hellip;</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                        <use xlink:href="#icon-tag"></use>
                                    </svg>
                                </li>
                            {{ end }}
                        {{ end }}                    
                        
                        <!-- next -->
                        {{ if not $pag.HasNext }}
                        <li class="-disabled archives__pagination--item">
                            <span class="archives__pagination--text" aria-hidden="true">&rsaquo;</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                <use xlink:href="#icon-tag"></use>
                            </svg>
                        </li>
                        {{ else }}
                        <li class="archives__pagination--item">
                            <a aria-label="Next" href="{{ $baseurl }}{{ $pag.Next.URL }}" title="Next page of results">
                                <span class="archives__pagination--text" aria-hidden="true">&rsaquo;</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                    <use xlink:href="#icon-tag"></use>
                                </svg>
                            </a>
                        </li>
                        {{ end }}
                        <!-- last -->
                        {{ if not $pag.HasNext }}
                        <li class="-disabled archives__pagination--item">
                            <span class="archives__pagination--text" aria-hidden="true">&raquo;</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                <use xlink:href="#icon-tag"></use>
                            </svg>
                        </li>
                        {{ else }}
                        <li class="archives__pagination--item">
                            <a aria-label="Last" data-baseurl="{{ $baseurl }}" data-lasturl="{{ $pag.Last.URL }}" href="{{ $baseurl }}{{ $pag.Last.URL }}" title="Last page of results">
                                <span class="archives__pagination--text" aria-hidden="true">&raquo;</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                    <use xlink:href="#icon-tag"></use>
                                </svg>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                {{ end }}
            </footer>
            <!-- end pagination -->
        </section>
        {{ partial "archives__menu.html" . }}
    </div>
</main>
</div>
{{ partial "footer.html" . }}
