{{ partial "head.html" . }}
<main class="list">
    <div class="container">
        <nav class="list__nav">
            <h3 class="tag">
                <span class="tag__text">Archive filters</span>
                <i class="icon-button--red tag__bg"></i>
            </h3>
            <main>
                <!-- define baseurl -->
                {{ $baseurl := .Site.BaseURL }}
                {{ $singular := ( .Title | singularize) }}
                <!-- define metadata stuff -->
                {{ $metadata := index $.Site.Data.metadata $singular }}
                <!-- define characters stuff -->
                {{ $char_title := ( replace .Title " " "-" ) }} 
                {{ $character := index $.Site.Data.characters $char_title }}
                <!-- begin filters -->
                
                <!--
                <div>
                    <label>Search:</label>
                    <form action="/search_results" method="get" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="terms" title="You can also use &quot;quotes&quot; and &amp; to narrow down results." id="terms" class="form-control" placeholder="Search by Keyword or Date">
                                <span class="input-group-btn">
                                    <button name="" type="sumbit" class="btn btn-primary">
                                        <i class="fa fa-search"></i> Search
                                    </button>      
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                -->
                {{ if and (isset $metadata "name") (eq $metadata.name "Chipmunk Bay") }}
                <div>
                    <label>By storyline:</label>
                    <ul class="ul ul--list ul--list_tags">
                        {{ range where $.Site.Pages.ByDate ".Params.storyline" "!=" nil }}
                            {{ $link := .Permalink }}
                            {{ range $name, $taxonomy := .Site.Taxonomies }}
                                {{ if eq "storyline" $name }}
                                    {{ range $key, $value := $taxonomy }}
                                        {{ $count := .Count }}
                                        {{ range first 1 $value.Pages }}
                                            {{ if (eq .Permalink $link) }}
                                                <li class="tags">
                                                    <a href="/storyline/{{ $key | urlize }}" class="tag tag--storyline" title="{{ $count }} comics within the &ldquo;{{ humanize (string $key) }}&rdquo; storyline">
                                                        <span class="tag__text">{{ humanize (string $key) }}</span><i class="tag__bg icon-button--teal"></i>
                                                    </a>
                                                </li>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>

                <div>
                    <label>By character:</label>
                    <ul class="ul ul--list ul--list_tags">
                        {{ range $name, $taxonomy := .Site.Taxonomies.characters }}
                        <li class="tags">
                            <a href="/characters/{{ $name | urlize }}" class="tag tag--character" title="{{ .Count }} comics featuring &ldquo;{{ $name }}&rdquo;">
                                <span class="tag__text">{{ $name }}</span><i class="icon-button--grey tag__bg"></i>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <!--
                <div>
                    <label>By tag:</label>
                    <ul class="ul ul--list ul--list_tags">
                        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        <li class="tags--tags tags">
                            <a href="/tags/{{ $name | urlize }}" class="tag tag--tags" title="{{ .Count }} comics featuring &ldquo;{{ $name }}&rdquo;">
                                <span class="tag__text">{{ $name }}</span><i class="icon-button--tan tag__bg"></i>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                -->
                <div>
                    <ul class="ul ul--list ul--list_tags">
                        <li class="tags">
                            <a href="/tags/" class="tag tag--section" title="View a list of all defined tags">
                                <span class="tag__text">Search by tag</span>
                                <i class="icon-button--red tag__bg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="ul ul--list ul--list_tags">
                        <li class="tags">
                            <a href="/chipmunkbay" class="tag tag--section" title="Browse the archives">
                                <span class="tag__text">Browse all</span>
                                <i class="icon-button--red tag__bg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                {{ end }}
                <div>
                    <label>Switch to another comic series:</label>
                    <ul class="ul ul--list ul--list_tags">
                        {{ range $section, $taxonomy := .Site.Sections }}
                            {{ $m := index $.Site.Data.metadata (title $section) }}
                            {{ if isset $m "name" }}
                            <li class="tags">
                                <a href="/{{ $section | urlize }}" class="tag tag--character" title="Browse the archives">
                                    <span class="tag__text">{{ $m.name }}</span>
                                    <i class="icon-button--green tag__bg"></i>
                                </a>
                            </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
                
            </main>
        </nav>
        <section class="list__results">
            <header>
                <!-- archives for comic section -->
                <!-- ex: Chipmunk Bay, or Team N3 -->
                {{ if isset $metadata "name" }}
                    <h3>{{ $metadata.name }} archives</h3>
                <!-- all comics featuring a set tag -->
                <!-- ex: all comics tagged as 'starcraft' -->
                {{ else if isset .Data "tags" }}
                    <h3>Comics tagged as "{{ .Title }}"</h3>
                <!-- all comics featuring a specific character -->
                <!-- ex: all comics featuring 'Karen' -->
                {{ else if isset .Data "characters" }} 
                    <!-- if thumbnail exists -->
                    {{ if isset $character "thumb" }}
                    <figure>
                        <img src="{{ $baseurl }}_files/img/thumb/{{ $character.thumb }}" alt="profile picture for {{ $character.fullname }}">
                    </figure>
                    {{ end }}
                    <div>
                        <label class="label">Comics featuring</label>
                        <h3>{{ .Title }}</h3> 
                        {{ if isset $character "level" }}
                        <span>{{ $character.level }} cast member</span>
                        {{ end }}
                    </div>
                <!-- all comics in a set storyline -->
                <!-- ex: all comics in the 'Shawn has a date' storyline -->
                {{ else if isset .Data "storyline" }}
                    <label class="label">Storyline</label>
                    <h3>{{ .Title }}</h3> 
                {{ end }}

            </header>
            <!--<p>$$$ total comics. Showing $$-$$.</p>-->
            <main>
                <ul class="ul">
                    <!-- define paginator -->
                    {{ $pag := .Paginator 25 }}
                    <!-- return actual results -->
                    {{ range $index, $pag.Pages.ByDate }}
                    <li>
                        <a href="{{ .Permalink }}" title="{{ .Title }}">
                            {{.Title}}
                        </a>
                        <span>{{ .Date.Format "Jan 2, 2006" }}</span>
                    </li>
                    {{ end }}
                    <!-- end results for this page -->
                </ul>
            </main>
            <!-- if there are pages, render pagination -->
            <footer>
                {{ if or ($pag.HasPrev) ($pag.HasNext) }}
                <ul class="ul ul-inline pagination">
                    <!-- if there are more than 1 pages of results -->
                    {{ if gt $pag.TotalPages 1 }}
                    <li {{ if not $pag.HasPrev }} class="disabled" {{ end }}>
                        <a aria-label="First" href="{{ $baseurl }}{{ $pag.First.URL }}">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li {{ if not $pag.HasPrev }} class="disabled" {{ end }}>
                        <a aria-label="Previous" href="{{ if $pag.HasPrev }}{{ $baseurl }}{{ $pag.Prev.URL }}{{ else }}#{{ end }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{ range $pag.Pagers }}
                    <li {{ if eq . $pag }} class="active" {{ end }}>
                        <a href="{{ $baseurl }}{{ .URL }}">
                    {{ .PageNumber }}
                </a>
                    </li>
                    {{ end }}
                    <li {{ if not $pag.HasNext }} class="disabled" {{ end }}>
                        <a aria-label="Next" href="{{ if $pag.HasNext }}{{ $baseurl }}{{ $pag.Next.URL }}{{ else }}#{{ end }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li {{ if not $pag.HasNext }} class="disabled" {{ end }}>
                        <a aria-label="Last" href="{{ $baseurl }}{{ $pag.Last.URL }}">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </footer>
            <!-- end pagination -->
        </section>
    </div>
</main>
</div>
{{ partial "footer.html" . }}
