$default:#686E75;
$title:#B36769;
$lightbg:#E7EAEF;
$darkbg: #D3D3D3;
$dark: #414753;
$gray: #A7A9AC;
$teal:#789A87;
$red:#B36769;
$green:#54771D;
$tan:#BFBBA3;
$gold:#DBB85C;

$twitter: #63ABDF;
$facebook: #4867AA;
$gplus: #B36769;
$rss:#FF9321;

