$black:#000;
$darkgray:#414753;
$lightgray:#D3D3D3;
$offwhite:#E7EAEF;

$text:#686E75;

//$default:#686E75;
//$title:#B36769;
//$lightbg:#E7EAEF;
//$darkbg: #D3D3D3;
//$dark: #414753;
$gray: #A7A9AC;
$teal:#789A87;
$red:#B36769;
$green:#668952;
$tan:#BFBBA3;
$gold:#DBB85C;
$white:#fff;

$twitter: #63ABDF;
$facebook: #4867AA;
$gplus: #B36769;
$rss:#FF9321;
$patreon:#E6461A;


///////////////////
// MEDIA QUERIES
///////////////////
$xs: 544px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1460px;

@mixin min($size) {
    @if $size==xs { $size: $xs; }
    @if $size==sm { $size: $sm; }
    @if $size==md { $size: $md; }
    @if $size==lg { $size: $lg; }
    @if $size==xl { $size: $xl; }
    @media (min-width: #{($size)}) {
        @content;
    }
}
@mixin max($size) {
    @if $size==xs { $size: $xs; }
    @if $size==sm { $size: $sm; }
    @if $size==md { $size: $md; }
    @if $size==lg { $size: $lg; }
    @if $size==xl { $size: $xl; }
    @media (max-width: #{($size)-1}) {
        @content;
    }
}
@mixin minmax($min,$max) {
    @if $min==xs { $min: $xs; }
    @if $min==sm { $min: $sm; }
    @if $min==md { $min: $md; }
    @if $min==lg { $min: $lg; }
    @if $min==xl { $min: $xl; }
    @if $max==xs { $max: $xs; }
    @if $max==sm { $max: $sm; }
    @if $max==md { $max: $md; }
    @if $max==lg { $max: $lg; }
    @if $max==xl { $max: $xl; }
    @media (min-width: #{($min)}) and (max-width: #{($max)-1}) {
        @content;
    }
}
@mixin ipad {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    @content;
  }
}
@mixin ipad_landscape {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    @content;
  }
}
@mixin ipad4 {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}
@mixin print {
  @media print {
    @content;
  }
}