@import 'colors',
'include-media';
.archives {
    .ul--list {
        padding: 0;
    }
    .container {
        padding-top: 1em;
        display: flex;
        flex-direction: column;
    }
    &__menu {
        &--title {
            letter-spacing: 1px;
        }
        &--content {
            display: none;
            padding-top: 2em;
            @include media('>=sm'){
                display:block;
            }
        }
        &--subtitle {
            font-size: 80%;
            color: #fff;
            background-size: 100% 100%;
            padding: 5px 16px 6px;
            margin-bottom: .5em;
            display: inline-block;
            cursor: pointer;
        }
        .icon-dropdown {
            width: 12px;
            height: 12px;
            background-size: contain;
            display: inline-block;
            background-position: center center;
        }
        &--checkbox {
            opacity: 0;
            position: absolute;
            visibility: hidden;
        }
        li {
            margin-bottom: 0;
            color: $gray;
            font-size: 14px;
            padding-left:16px;
        }
        a {
            color: $red;
        }
    }
    &__results {
        &__header {
            margin-bottom: 2rem;
        }
        &--page-title {
            margin-bottom: 0;
            span {
                color: $green;
            }
        }
        &--count {
            font-size: 70%;
        }
        &--item {
            margin-bottom: 3em;
        }
        &--main {
            //font-size: 1.4em;
        }
        &--info {
            margin-bottom: 0.2em;
        }
        &--title {
            display: inline-block;
            color: $red;
        }
        &--date {
            display: inline-block;
            color: $gray;
            &:before {
                content: '// ';
                letter-spacing: -4px;
                margin-right: 8px;
                opacity: 0.4;
            }
        }
        &--comic {
            .comic--comic {
                padding: 0;
                background: transparent;
            }
        }
        &--tags {
            font-size: 12px;
            p {
                display: inline-block;
                margin-bottom: 0.2em;
            }
            span {
                display: inline-block;
                &:after {
                    content: ',';
                    margin-left: -1.5px;
                    margin-right: 2px;
                }
                &:last-of-type {
                    &:after {
                        display: none;
                    }
                }
            }
            a {
                &[href*="tags/"] {
                    color: darken($tan, 5);
                }
                &[href*="characters/"] {
                    color: $gray;
                }
                &[href*="storyline/"] {
                    color: $teal;
                }
                &:hover {
                    border-bottom: 1px solid;
                }
            }
        }
        &--share {
            li {
                display: inline-block;
                + li {
                    margin-left: 2px;
                }
            }
            .tag {
                padding: 0;
                font-size: 0;
                //padding: 2px 4px;
                //display: flex;
                &:hover {
                    transform: scale(1.1);
                }
            }
            .tag__text {
                //text-indent: -1000em;
                background-size: contain;
                //position: relative;
                //z-index: 2;
                background-position: center;
                width: 12px;
                height: 12px;
                margin: 8px;
                //font-size: 0;
                &:nth-of-type(even) {
                    transform: rotate(180deg);
                }
            }
        }
        &--footer {
            li {
                display: inline-block;
                position: relative;
                color: white;
                &.disabled {
                    opacity: 0.5;
                }
            }
            a {
                position: relative;
                color: white;
                display: inline-block;
                transition: all .3s ease;
                &:hover {
                    transform: scale(1.1);
                    i {
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
            span {
                margin: 4px 16px;
                display: inline-block;
                position: relative;
                z-index: 2;
                vertical-align: middle;
                font-size: 1.2em;
            }
            i {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-size: 100% 100%;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: 100% 100%;
                    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222.228%22%20height%3D%2222.227%22%20viewBox%3D%22203.945%20203.945%2022.228%2022.227%22%20preserveAspectRatio%3D%22none%22%3E%3Cpath%20fill%3D%22%23DBB85C%22%20d%3D%22M219.627%20203.945c-4.378%201.215-9.297-.151-13.86.724-2.38.859-1.86%204.124-1.539%206.071.463%202.802.121%205.479.021%208.29-.225%206.232%202.932%206.654%208.083%206.77%203.478-.249%209.114%201.408%2012.175-.765%201.909-1.355%201.492-3.974%201.36-5.998-.201-3.068.076-6.164.104-9.234%201.194-4.263-3.158-5.8-6.344-5.858z%22%2F%3E%3C%2Fsvg%3E');
                    opacity: 0;
                    transition: all .3s ease;
                }
            }
        }
        @include media('>sm') {
            &--info {
                display: flex;
                //margin-bottom: 0.5em;
            }
            &--title {
                flex: 0 0 70%;
            }
            &--date {
                flex: 0 0 30%;
                text-align: right;
                &:before {
                    display: none;
                }
            }
            /*
        &--share {
            .tag__text {
                width: 18px;
                height: 18px;
            }
        }
        */
        }
    }
    @include media('>sm') {
        .container {
            flex-direction: row-reverse;
            padding-top: 1.5em;
        }
        .archives__menu {
            flex: 0 0 40%;
            padding-right: 1em;
        }
        .archives__results {
            flex: 0 0 60%;
            border-left: 1px solid $lightgray;
            padding-left: 1em;
        }
    }
    @include media('>md') {
        .container {
            padding-top: 2em;
        }
        .archives__menu {
            flex: 0 0 35%;
            padding-right: 2em;
        }
        .archives__results {
            flex: 0 0 65%;
            padding-left: 2em;
        }
    }
    @include media('>lg') {
        .archives__menu {
            flex: 0 0 30%;
            padding-right: 3em;
        }
        .archives__results {
            flex: 0 0 70%;
            padding-left: 3em;
        }
    }
}
