@import 'variables';
.archives {
    .ul--list {
        padding: 0;
    }
    .container {
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        @include min(sm) {
            flex-direction: row-reverse;
            padding-top: 1.5em;
        }
        @include min(md) {
            padding-top: 2em;
        }
    }
    &.-notcb {
        .container {
            display:block;
            .archives__menu {
                padding-right:0;
                .archives__menu--content {
                    display: block;
                }
            }
            .archives__results {
                padding-left:0;
                border-left:0;
            }
        }
    }
}
