@import 'variables';
.btn {
    border: 0;
    box-shadow:none;
    text-shadow: none;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    font-size: 12px;
    padding: 5px 10px 6px 12px;
    color: white;
    position: relative;
    margin: 1px -1px;
    display: inline-block;
    display: inline-flex;
    transition: all 300ms ease;
    &:hover {
        transform: scale(1.05);
        &.-social {
            transform: scale(1.075);
            .btn__bg {
                transform: rotate(6deg);
            }
            &:nth-child(even) {
                .btn__bg {
                    transform: rotate(174deg);
                }
            }
        }
    }
    &.-square {
        padding: 10px;
    }
    &.-nopad {
        padding: 0;
    }
    &.-lg {
        font-size: 1em;
    }
}

.btn__text {
    position: relative;
    z-index: 2;
    display: inline-block;
}

.btn__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: $red;
    transition: all 200ms ease;
    .btn:hover & {
        fill: darken($red, 10);
    }
    .btn:nth-child(even) & {
        transform: rotate(180deg);
    }
    .btn.-tag & {
        fill: $tan;
    }
    .btn.-tag:hover & {
        fill: darken($tan, 10);
    }
    .btn.-storyline & {
        fill: $teal;
    }
    .btn.-storyline:hover & {
        fill: darken($teal, 10);
    }
    .btn.-character & {
        fill: $gray;
    }
    .btn.-character:hover & {
        fill: darken($gray, 10);
    }
    .btn.-facebook & {
        fill: $facebook;
    }
    .btn.-facebook:hover & {
        fill: darken($facebook, 10);
    }
    .btn.-twitter & {
        fill: $twitter;
    }
    .btn.-twitter:hover & {
        fill: darken($twitter, 10);
    }
    .btn.-rss & {
        fill: $rss;
    }
    .btn.-rss:hover & {
        fill: darken($rss, 10);
    }
    .btn.-gplus & {
        fill: $red;
    }
    .btn.-gplus:hover & {
        fill: darken($red, 10);
    }
}
