@import 'colors',
'include-media';
.columns {
    display:flex;
    .col {
        flex: 0 0 100%;
    }
    &.-two {
        .col {
            flex: 0 0 100%;
            @include media('>sm'){
                flex: 0 0 50%;    
            }            
        }
    }
    &.-three {
        .col {
            flex: 0 0 100%;
            @include media('>sm'){
                flex: 0 0 50%;    
            }            
            @include media('>md'){
                flex: 0 0 33.333%;    
            }
            
        }
    }
    
}
