@import 'variables';
.columns {
    display:flex;
    .col {
        flex: 0 0 100%;
        position: relative;
        @include min(sm){
            padding:2em;
        }
    }
    &.-two {
        .col {
            flex: 0 0 100%;
            padding-top:2em;
            padding-bottom:2em;
            @include min(sm){
                flex: 0 0 50%;    
            }            
        }
    }
    &.-three {
        .col {
            flex: 0 0 100%;
            padding-top:2em;
            padding-bottom:2em;
            @include min(sm){
                &:nth-child(1),
                &:nth-child(2) {
                    padding-top:0;
                    flex: 0 0 50%;
                }  
                &:nth-child(3) {
                    flex:0 0 100%;
                }
                
            }            
            @include min(md){
                flex: 0 0 33.333%;   
                padding-top:0;
                padding-bottom:0; 
                &:nth-child(1),
                &:nth-child(2),  
                &:nth-child(3) {
                    flex:0 0 33.333%;
                }
            }
            
        }
    }
    
}
