@import 'colors',
'include-media';

/* comic blog */

.comic--article {
    margin: 0 auto;
    padding: 0;
    max-width: 560px;
}

.comic--article__header {
    margin-bottom: 1rem;
    margin-top: 1rem;
    small {
        display: block;
        font-size: 12px;
        letter-spacing: 1.4px;
        font-weight: 700;
        color: $dark;
        opacity: 0.5;
    }
    h1 {
        color: $dark;
    }
    @include media('>sm') {
        text-align: center;
    }
}

.comic--article__tags {
    text-align: center;
    line-height: 1.4;
    margin-top: 1.6rem;
    margin-bottom: 3.4rem;
}

.comic--article__footer {
    font-size: 12px;
    text-align: center;
    color: $gray;
    p {
        margin-bottom: 0.5rem;
    }
    .buttons {
        .btn {
            padding: 8px;
            display: inline-flex;
            align-items: center;
            &.-facebook {
                padding: 8px 12px;
            }
            &:hover {
                &.-facebook {
                    .btn__bg {
                        fill: $facebook;
                    }
                }
                &.-twitter {
                    .btn__bg {
                        fill: $twitter;
                    }
                }
                &.-gplus {
                    .btn__bg {
                        fill: $gplus;
                    }
                }
            }
        }
        .btn__bg {
            fill: $gray;
        }
        + .btn {
            margin-top: 2em;
        }
    }
}
