@import 'colors',
'include-media';

/* comic blog */

.comic--article {
    margin: 0 auto;
    padding: 0;
    max-width: 560px;
}

.comic--article__header {
    margin-bottom: 1rem;
    margin-top: 1rem;
    small {
        display: block;
        font-size: 12px;
        letter-spacing: 1.4px;
        font-weight: 700;
        color: $darkgray;
        opacity: 0.5;
    }
    h1 {
        color: $darkgray;
        margin-bottom:.25em;
    }
    @include media('>sm') {
        text-align: center;
    }
}

.comic--article__tags {
    text-align: center;
    line-height: 1.4;
    margin-top: 1.6rem;
    margin-bottom: 3.4rem;
    @include media('<sm') {
        text-align: left;
        margin-bottom:.8em;
        overflow:hidden;
        &:before {
            content: 'Tags:';
            display: block;
            color: $darkgray;
        }
        .tags {
            float:left;
            line-height: 1.2;
            &:last-of-type {
                .btn {
                    &:last-of-type {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        .btn {
            padding: 0;
            margin: 0;
            &:after {
                content: ',';
                margin-right: 2px;
            }
            &.-tag {
                color: darken($tan,10);
            }
            &.-character {
                color: darken($gray,10);
            }
            &.-storyline {
                color: $green;
            }
            .btn__bg {
                display: none;
            }
        }
    }
}

.comic--article__footer {
    //font-size: 12px;
    text-align: center;
    color: $gray;
    p {
        margin-bottom: 0.5rem;
        font-size: 70%;
    }
    .buttons {
        .btn {
            padding: 8px;
            //display: inline-flex;
            //align-items: center;
            &:hover {
                &.-facebook {
                    .btn__bg {
                        fill: $facebook;
                    }
                }
                &.-twitter {
                    .btn__bg {
                        fill: $twitter;
                    }
                }
                &.-gplus {
                    .btn__bg {
                        fill: $gplus;
                    }
                }
            }
        }
        .btn__bg {
            fill: $gray;
        }
        + .btn {
            margin-top: 1em;
            margin-bottom:2em;
            @include media('>sm'){
                margin-top:2em;
            }
        }
    }
    @include media('<sm') {
        text-align: left;
        p {
            display: none;
        }
    }
}
