@import 'variables';
.comic--nav {
    font-size: 0.9rem;
    padding: 0 15px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include min(sm) {
        font-size: 1em;
    }
}

.comic--nav__btn {
    display: inline-block;
    display: inline-flex;
    align-items: center;
    top: 20vw;
    color: $red;
    span {
        padding: 0 .5em;
    }
    &.-prev {}
    &.-next {
        flex-direction: row-reverse;
        .icon-arrow {
            transform: rotate(180deg);
        }
    }
    &.-weiner {
        color: mix($lightgray, $text, 50);
        top: 0;
        .icon-tag {
            fill: mix($offwhite, $lightgray, 50);
            z-index: -1;
        }
    }
    .icon-arrow {
        fill: $red;
    }
    @include min(sm) {
        .icon-arrow {
            width: .75em;
            height: 1.35em;
        }
    }
    @include min(md) {
        padding: 4px 12px;
        background: none;
        position: fixed;
        opacity: 0.3;
        transition: opacity 300ms ease;
        &.-prev {
            left: 0;
        }
        &.-next {
            right: 0;
            .icon-arrow {
                transform: rotate(180deg);
            }
        }
        &.-weiner {
            display: none;
        }
        .icon-arrow {
            width: 25px;
            height: 60px;
            display: inline-block;
            fill: $darkgray;
            transition: transform 300ms ease;
        }
        span {
            display: none;
        }
        &:hover {
            opacity: 1;
            .icon-arrow {
                transform: scale(1.25);
            }
            &.-next {
                .icon-arrow {
                    transform: rotate(180deg) scale(1.25);
                }
            }
        }
    }
    @include min('1550px') {
        top: 300px;
        &.-prev {
            left: calc((100% - 1550px) / 2);
        }
        &.-next {
            right: calc((100% - 1550px) / 2);
        }
    }
}
