@import 'colors',
'include-media';
.comic--nav {
    font-size:0.9rem;
    //padding:15px;
    padding: 0 15px 15px;
    text-align: center;
    a {
        background-size:cover;
        padding:4px 12px;
        display: inline-block;
        color:#fff;
    }
    i {

    }
    span {

    }
    @include media('>md'){
        .weiner-toggle {
            display: none;
        }
        .prev,.next {
            background:none;
            position: fixed;
            //top: 225px;
            top:40%;
            opacity:0.3;
            transition: all 300ms ease;
            //transform: translateY(-25%);
            &.prev {
                left:0;
            }
            &.next {
                right:0;
            }
            &:hover {
                opacity: 1;
                i {
                    transform: scale(1.25);
                    transition: all 300ms ease;
                }
            }
        }
        i {
            width:25px;
            height:60px;
            background-size:cover;
            display: inline-block;
        }
        span {
            display: none;
        }
    }
    @include media('>1550px'){
        position: fixed;
        //top: 225px;
        top:40%;
        width: 1550px;
        margin: 0 auto;
        left: 0;
        right: 0;
        .prev,.next {
            position: absolute;
            top:0;
            &.prev {
                
            }
            &.next {
                
            }
        }
    }
}
@media (min-height: 550px) and (min-width:64em) {
    .comic--nav {
        .prev,.next {
            top:225px;
        }
    }
}
@media (min-height: 550px) and (min-width:1551px) {
    .comic--nav {
        top:225px;
        .prev,.next {
            top:0;
        }
    }
}
    

