@import 'colors',
'include-media';

/* comic blog */

.comic--article {
    margin: 0 auto;
    padding: 0;
    max-width: 560px;
    header {
        margin-bottom:1rem;
        margin-top:1rem;
        small {
            display: block;
            font-size: 10px;
            letter-spacing: 1.4px;
            font-weight: 700;
            color:$dark;
            opacity:0.5;
        }
    }
    h1 {
        color:$dark;
    }
    aside {
        text-align: center;
        line-height: 1.4;
        margin-top:1.6rem;
        margin-bottom:3.4rem;
        .tag:hover {
            padding: 5px 14px 4px 16px;
            svg {
                fill:$gold;
            }
        }
    }
    footer {
        font-size:12px;
        text-align: center;
        color:$gray;
        p {
            margin-bottom: 0.5rem;
        }
        ul {
            padding: 0;
            li {
                display: inline-block;

            }
            a {
                position:relative;
                display: block;
                &:hover {
                    .icon-facebook ~ .tag svg {
                        fill:$facebook;
                    }
                    .icon-twitter ~ .tag svg {
                        fill:$twitter;
                    }
                    .icon-gplus ~ .tag svg {
                        fill:$gplus;
                    }
                }
            }
            span {
                text-indent: -1000em;
                display: inline-block;
                background-size:contain;
                position: relative;
                z-index: 2;
                background-position:center;
                margin:4px 6px;
                height:14px;
                &.icon-facebook {
                    width:6px;
                    margin:4px 8px;
                }            
                &.icon-twitter {
                    width:12px;
                }
                &.icon-gplus {
                    width:13px;
                }
            }
            .tag {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                padding: 0;
                margin:0 auto;
            }
        }
        > a {
            display: inline-block;
            position:relative;
            color:white;
            margin-top:0.5rem;
            span {
                position: relative;
                z-index: 2;
                padding: 8px 16px;
                display: inline-block;
                transition: all 300ms ease;
            }
            .icon-button {
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                right: 0;
                margin: 0 auto;
                svg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    fill:$red;
                    path {
                        fill:inherit;
                    }
                }
            }
            &:hover {
                span {
                    padding:8px 22px;
                }
            }
        }

    }

    @include media('>sm'){
        header {
            text-align: center;
            small {
                font-size: 12px;
            }
        }
    }
}
