@import 'colors',
'include-media';
body {
    font-family: 'Architects Daughter', Georgia, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 1.438;
    text-transform: none;
    color:$default;
    @include media(">sm") {
        font-size: 1.1em;
        line-height: 1.529;
    }
    @include media(">md") {
        font-size: 1.2em;
        line-height: 1.556;
    }
}

h1 {
    //font-family: 'Finger Paint', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-family: 'Gochi Hand', Helvetica, Helvetica Neue, Arial, sans-serif;
    //font-weight: 900;
    font-size:2rem;
    color:$title;
    display:inline-block;
    margin:0;
    line-height: 1.4;
    @include media('>sm'){
        font-size:2.4rem;
    }
    @include media('>md'){
        font-size:3rem;
    }
    @include media('>lg'){
        font-size:3.4rem;
    }
}

h2 {
    font-weight: normal;
    font-family: inherit;
    font-size: 1.4em;
}

h3 {

}

h4 {
    font-weight: normal;
    font-family: inherit;
    font-size: 2rem;
}

p,
q,
li {
	font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}
p,
q {
    margin: 0 0 0.75rem;
}

li {
    margin: 0 0 1.25rem;
}
ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 1.2rem;
}
.ul {
    li {
        list-style: none;
    }
}