@import 'variables';
html {
    font-size:16px;
}
body {
    //font-family: 'Architects Daughter', Georgia, serif;
    //font-family: 'Bitter', serif;
    //font-family: 'Suez One', serif;
    //font-family: 'Patua One', cursive;
    //font-family: 'Chewy', cursive;
    //font-family: 'Atma', cursive;
    //font-family: 'Chelsea Market', cursive;
    //font-family: 'Sniglet', cursive;
    font-family: 'McLaren', Georgia, serif;
    //font-family: 'Oldenburg', cursive;
    //font-family: 'Short Stack', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: .9em;
    line-height: 1.438;
    text-transform: none;
    color: $text;
    @include min(sm) {
        font-size: 1.05em;
        line-height: 1.529;
    }
    @include min(md) {
        font-size: 1.1em;
        line-height: 1.556;
    }
}

h2,h3,h4 {
    font-weight: 300;
    margin-top:0;
}

/*
h2,h3,h4,.tags {
    font-family: 'Architects Daughter', Georgia, serif;
}
*/

.serif {
    font-family: Georgia,serif;
}

h1 {
    //font-family: 'Finger Paint', Helvetica, Helvetica Neue, Arial, sans-serif;
    //font-family: 'Gochi Hand', Helvetica, Helvetica Neue, Arial, sans-serif;
    //font-family: 'Bitter', serif;
    //font-family: 'Suez One', serif;
    //font-family: 'Patua One', cursive;
    font-family: 'Chewy', Helvetica, Helvetica Neue, Arial, sans-serif;
    //font-family: 'Atma', cursive;
    //font-family: 'Chelsea Market', cursive;
    //font-family: 'Sniglet', cursive;
    //font-family: 'McLaren', cursive;
    //font-family: 'Oldenburg', cursive;
    //font-family: 'Short Stack', cursive;
    font-weight: inherit;
    font-size: 2rem;
    color: $darkgray;
    display: inline-block;
    margin: 0 0 0.5em;
    line-height: 1;
    @include min(sm) {
        font-size: 2.4rem;
    }
    @include min(md) {
        font-size: 3rem;
    }
    @include min(lg) {
        font-size: 3.4rem;
    }
}

h2 {
    font-size: 1.4em;
}

h3 {

}

h4 {
    font-size: 2rem;
}

p,
q,
li {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

p,
q {
    margin: 0 0 0.75rem;
}

li {
    margin: 0 0 1.25rem;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 1.2rem;
}

.ul {
    padding:0;
    li {
        list-style: none;
    }
}
