@import 'variables';
.header {
    overflow: visible;
    z-index: 3;
    padding: 0;
    display: block;
    margin: 0;
    position: relative;
    //padding-bottom: 15px;
    .container {
        background-color: $darkgray;
        //padding-top: 10px;
        z-index: 2;
        position: relative;
        min-height: 50px;
        @include min(sm) {
            min-height: 60px;
        }
    }
    h2 {
        margin: 0 auto;
        font-size: 0;
    }
    .icon-logo {
        width: 100%;
        max-width: 140px;
        height: 40px;
        display: inline-block;
        margin-top: 10px;
        @include min(sm) {
            max-width: 180px;
            height: 50px;
        }
    }
    .icon-bg__header {
        width: 100%;
        fill: $darkgray;
        position: absolute;
        left: 0;
        bottom: -15px;
        height: calc(200vw * 260 / 1400);
        @include min(xs) {
            height: calc(140vw * 260 / 1400);
        }
        @include min(sm) {
            height: calc(100vw * 260 / 1400);
        }
    }

    @include min(sm) {
        background-color: $darkgray;
        .container {
            text-align: center;
        }
    }
    .isnode &,
    .ispage & {
        @include min(sm) {
            background-color: $offwhite;
        }
    }
}
