@import 'colors',
'include-media';
.icon {
    &-logo,
    &-facebook,
    &-twitter,
    &-gplus,
    &-rss,
    &-email {
        fill:$white;
        z-index:1;
        position:relative;
    }
    &-facebook,    
    &-gplus,
    &-email,
    &-twitter,
    &-rss {
        width: 12px;
        height: 12px;
        &.-big {
            width:25px;
            height:25px;
        }
    }
    &-patreon_full {
        fill:$white;
        color:$patreon;
    }
    &-patreon {
        fill:$patreon;
    }
    &-arrow {
        width:.5em;
        height:1em;
    }
}
