@import 'variables';
.icon {
    &-logo,
    &-facebook,
    &-twitter,
    &-gplus,
    &-rss,
    &-email {
        fill:$white;
        z-index:1;
        position:relative;
    }
    &-facebook,    
    &-gplus,
    &-email,
    &-twitter,
    &-rss {
        width: 12px;
        height: 12px;
        &.-big {
            width:25px;
            height:25px;
        }
    }
    &-patreon_full {
        fill:$white;
        color:$patreon;
    }
    &-patreon {
        fill:$patreon;
    }
    &-arrow {
        width:.5em;
        height:1em;
    }
    &-logo {
        transition:fill .2s ease, filter .2s ease;
        filter:drop-shadow( 0px 0px 0px rgba(0,0,0,.20) );
        &:hover {
            fill:mix($gold,white,25);
            filter:drop-shadow( 4px 4px 0px rgba(0,0,0,.20) );
        }
    }
}
