@import 'colors',
'include-media';
html {
    box-sizing: border-box;
    background: $dark;
    width: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    overflow-y: visible;
    transition: overflow-y 0ms ease 2000ms;
    background: $lightbg;
}
/*
body > header,
body > main,
body > footer,
body > section,
body > div {
    overflow-x: hidden;
}
*/

.container {
    max-width: 1480px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
