@import 'colors',
'include-media';
.list {
    .ul--list {
        padding: 0;
    }
    .container {
        padding-top: 1em;
    }
    .list__nav {
        h3 {
            letter-spacing: 1px;
        }
        main {
            display:none;
        }
    }
    .list__results {
        main {
            font-size: 1.4em;
            li {
                margin-bottom: 1.5em;
                a {
                    display: block;
                }
                span {
                    display: block;
                }
            }
            @include media('>sm') {
                li {
                    display: flex;
                    margin-bottom: 0.5em;
                    a {
                        flex: 0 0 70%;
                    }
                    span {
                        flex: 0 0 30%;
                        text-align: right;
                    }
                }
            }
        }
    }
    @include media('>sm') {
        .container {
            display: flex;
            padding-top: 1.5em;
        }
        .list__nav {
            flex: 0 0 40%;
            padding-right: 1em;
        }
        .list__results {
            flex: 0 0 60%;
            border-left: 1px solid $darkbg;
            padding-left: 1em;
        }
    }
    @include media('>md') {
        .container {
            padding-top: 2em;
        }
        .list__nav {
            flex: 0 0 35%;
            padding-right: 2em;
        }
        .list__results {
            flex: 0 0 65%;
            padding-left: 2em;
        }
    }
    @include media('>lg') {
        .list__nav {
            flex: 0 0 30%;
            padding-right: 3em;
        }
        .list__results {
            flex: 0 0 70%;
            padding-left: 3em;
        }
    }
}
