<div class="archives__menu--taxonomy -character">
    <input type="checkbox" {{ if isset .Data "characters" }}checked="true" {{end}} name="checkbox--character" id="checkbox--character" class="archives__menu--checkbox" />
    <label for="checkbox--character" class="archives__menu--label">
        <h4 class="archives__menu--title">
            By character 
             <svg xmlns="http://www.w3.org/2000/svg" class="icon-dropdown">
                 <use xlink:href="#icon-dropdown"></use>
            </svg>    
        </h4>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-button btn__bg">
            <use xlink:href="#icon-button"></use>
        </svg>
    </label>
    <ul class="ul ul--archives archives__menu--links">
        {{ range $name, $taxonomy := .Site.Taxonomies.characters }}
        <li class="archives__menu--link">
            <a href="/characters/{{ $name | urlize }}" title="{{ .Count }} comics featuring &ldquo;{{ $name }}&rdquo;" class="character--{{ $name }}">
                {{ $name }}
            </a> {{ .Count }}
        </li>
        {{ end }}
    </ul>
</div>
