
        <!-- begin article content -->
        <article class="comic--article">
            <div class="container">
            <header>
                <a href="{{ .Permalink }}" title="Permalink to comic &quot;{{ .Title }}&quot;, published {{ .Date.Format "January 2, 2006" }} by {{ .Site.Author.name }}">
                    <h1>{{ .Title }}</h1>
                </a>
                <small>{{ .Date.Format "Jan 2, 2006" }}</small>
            </header>

            <main>
                {{ .Content }}
            </main>

            <aside>
                <!-- tags -->
                {{ if and (isset .Params "tags") (and (not (eq .Params.tags "")) (not (eq .Params.tags nil))) }}
                <div class="tags">
                    <!--<label>tags</label>-->
                    {{ range .Params.tags }}
                        <a href="{{ "/tags/" }}{{ . | urlize }}" class="tag tag--tag" title="Comics tagged as &ldquo;{{ . }}&rdquo;">
                            <span class="tag__text">{{ . }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-button -tan tag__bg">
                                <use xlink:href="#icon-button"></use>
                            </svg>
                            <!--<i class="icon-button--tan tag__bg"></i>-->
                        </a> 
                    {{ end }} 
                </div>
                {{ end }}

                <!-- characters -->
                {{ if and (isset .Params "characters") (and (not (eq .Params.characters "")) (not (eq .Params.characters nil))) }}
                <div class="tags">
                    <!--<label>characters</label>-->
                    {{ range .Params.characters }}
                        <a href="{{ "/characters/" }}{{ . | urlize }}" class="tag tag--character" title="Comics featuring &ldquo;{{ . }}&rdquo;">
                            <span class="tag__text">{{ . }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-button -grey tag__bg">
                                <use xlink:href="#icon-button"></use>
                            </svg>
                            <!--<i class="icon-button--grey tag__bg"></i>-->
                        </a>
                    {{ end }} 
                </div>
                {{ end }}

                <!-- storyline -->
                {{ if and (isset .Params "storyline") (and (not (eq .Params.storyline "")) (not (eq .Params.storyline nil))) }}
                <div class="tags">
                    <!--<label>storyline</label>-->
                    {{ range .Params.storyline }}
                        <a href="{{ "/storyline/" }}{{ . | urlize }}" class="tag tag--storyline" title="Comics in the &ldquo;{{ . }}&rdquo; storyline">
                            <span class="tag__text">{{ . }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-button -teal tag__bg">
                                <use xlink:href="#icon-button"></use>
                            </svg>
                            <!--<i class="icon-button--teal tag__bg"></i>-->
                        </a>
                    {{ end }} 
                </div>
                {{ end }}
            </aside>
            <footer>
                <p>Share this comic:</p>
                <ul class="ul ul--list">
                    <li>
                        <a href="http://www.facebook.com/share.php?u={{ .URL | absURL }}" title="Share on Facebook" class="tag">
                            <!--<span class="icon-facebook tag__text">facebook</span>-->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-button -facebook tag__bg">
                                <use xlink:href="#icon-button"></use>
                            </svg>
                            <!--<i class="icon-tag--facebook tag__bg"></i>-->
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/intent/tweet?url={{ .URL | absURL }}&text={{ .Title }}" title="Share on Twitter" class="tag">
                            <!--<span class="icon-twitter tag__text">twitter</span>-->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-button -twitter tag__bg">
                                <use xlink:href="#icon-button"></use>
                            </svg>
                            <!--<i class="icon-tag--twitter tag__bg"></i>-->
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/share?url={{ .URL | absURL }}" title="Share on Google+" class="tag">
                            <!--<span class="icon-gplus tag__text">google plus</span>-->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-gplus"><use xlink:href="#icon-gplus"></use></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-button -red tag__bg">
                                <use xlink:href="#icon-button"></use>
                            </svg>
                            <!--<i class="icon-tag--red tag__bg"></i>-->
                        </a>
                    </li>
                </ul>
                <a href="{{ .Site.BaseURL }}chipmunkbay" title="Browse the archives" class="tag">
                    <span class="tag__text">browse archives</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-button -red tag__bg">
                        <use xlink:href="#icon-button"></use>
                    </svg>
                    <!--<i class="icon-button--red tag__bg"></i>-->
                </a>
                
            </footer>
            </div>
        </article>
    
