
        <!-- begin navigation -->
        <nav class="comic--nav">
            
                {{ if .IsHome }}
                    <!-- Previous Post -->
                    {{ range first 1 (after 1 (where .Data.Pages "Type" "chipmunkbay")) }}
                      
                            <a href="{{ .Permalink }}" class="comic--nav__btn -prev" title="{{ .Title }}">
                                <!--<i class="icon-arrow"></i>-->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow">
                                    <use xlink:href="#icon-arrow"></use>
                                </svg>
                                <span>&lsaquo; Prev</span>
                            </a>
                        
                    {{ end }}
                    <!-- end previous post btn -->
                {{ else }}
                    <!-- previous button -->
                    {{ if .PrevInSection }}
                        
                            <a href="{{ .PrevInSection.Permalink }}" class="comic--nav__btn -prev" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">
                                <!--<i class="icon-arrow"></i>-->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow">
                                    <use xlink:href="#icon-arrow"></use>
                                </svg>
                                <span>&laquo; Prev</span>
                            </a>
                        
                    {{ end }}
                    <!-- show weiner button -->
                    {{ if isset .Params "weiner" }}
                    
                        <a href="#" data-target=".comic--weiner" class="comic--nav__btn -weiner">
                            <span>bonus panel</span>
                        </a>
                    
                    {{ end }}
                    <!-- next -->
                    {{ if .NextInSection }}
                       
                            <a href="{{ .NextInSection.Permalink }}" class="comic--nav__btn -next" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">
                                <!--<i class="icon-arrow"></i>-->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow">
                                    <use xlink:href="#icon-arrow"></use>
                                </svg>
                                <span>Next &raquo;</span>
                            </a>
                    
                    {{ end }}
                    <!-- end if comic check -->
                {{ end }}
            
        </nav>
        