<!-- begin post -->
<main class="comic">
   
        <!-- begin comic -->
        {{ if (isset .Params "comic") }}
        <section class="comic--comic icon-comic-bg">
            <figure>
                <!-- define title -->
                {{ $t := title .Type }}
                <!-- define metadata -->
                {{ $s := index $.Site.Data.metadata $t }}

                <!-- check for 'weiner' comic -->
                {{ if (isset .Params "weiner") }}
                    <!-- check to see if variable is defined AND not empty -->
                    {{ if and (not (eq .Params.weiner "")) (not (eq .Params.weiner nil)) }}
                        <img 
                            src="{{ .Site.BaseURL }}_files/comics/weiner/1400/{{ .Params.weiner }}" 
                            sizes="(min-width: 1400px) 1400px, 100vw" 
                            srcset="
                                {{ .Site.BaseURL }}_files/comics/weiner/320/{{ .Params.weiner }} 320w,
                                {{ .Site.BaseURL }}_files/comics/weiner/480/{{ .Params.weiner }} 480w,
                                {{ .Site.BaseURL }}_files/comics/weiner/768/{{ .Params.weiner }} 768w,
                                {{ .Site.BaseURL }}_files/comics/weiner/1024/{{ .Params.weiner }} 1024w,
                                {{ .Site.BaseURL }}_files/comics/weiner/1280/{{ .Params.weiner }} 1280w,
                                {{ .Site.BaseURL }}_files/comics/weiner/1400/{{ .Params.weiner }} 1400w"
                            alt="bonus panel" 
                            title="{{ .Title }}: Bonus Panel for {{ .Date.Format "January 2, 2006" }} by {{ .Site.Author.name }}"
                            class="animated comic--weiner"
                        />
                    {{ else }}
                        <img 
                            src="{{ .Site.BaseURL }}_files/comics/weiner/1400/{{ .Date.Format "20060102" }}.png" 
                            sizes="(min-width: 1400px) 1400px, 100vw" 
                            srcset="
                                {{ .Site.BaseURL }}_files/comics/weiner/320/{{ .Date.Format "20060102" }}.png 320w,
                                {{ .Site.BaseURL }}_files/comics/weiner/480/{{ .Date.Format "20060102" }}.png 480w,
                                {{ .Site.BaseURL }}_files/comics/weiner/768/{{ .Date.Format "20060102" }}.png 768w,
                                {{ .Site.BaseURL }}_files/comics/weiner/1024/{{ .Date.Format "20060102" }}.png 1024w,
                                {{ .Site.BaseURL }}_files/comics/weiner/1280/{{ .Date.Format "20060102" }}.png 1280w,
                                {{ .Site.BaseURL }}_files/comics/weiner/1400/{{ .Date.Format "20060102" }}.png 1400w"
                            alt="bonus panel" 
                            title="{{ .Title }}: Bonus Panel for {{ .Date.Format "January 2, 2006" }} by {{ .Site.Author.name }}"
                            class="animated comic--weiner"
                        />
                    {{ end }}
                    <!-- end check -->
                {{ end }}
                <!-- end 'weiner' comic check -->


                <!-- 
                    decided not to make this dynamic for the sake of the header and rss feed. Too many files NEED to know what the comic is. Just specify it in the post and be done.

                    Plus, eventually will probably want to SEO the file names as well.

                    but this would have worked:
                    {{ if or (not (isset .Params "comic")) (or (not (eq .Params.comic "")) (not (eq .Params.comic nil))) }}
                        ** (dynamic comic file based on date).png **
                    {{ else }}
                        ** specified comic file (in case of jpg, for example) **
                    {{ end }}
                -->

                <!-- main comic //-->
                <img 
                    src="{{ .Site.BaseURL }}_files/comics/{{ $s.folder }}/1400/{{ .Params.comic }}"
                    sizes="(min-width: 1400px) 1400px, 100vw" 
                    srcset="
                        {{ .Site.BaseURL }}_files/comics/{{ $s.folder }}/320/{{ .Params.comic }} 320w,
                        {{ .Site.BaseURL }}_files/comics/{{ $s.folder }}/480/{{ .Params.comic }} 480w,
                        {{ .Site.BaseURL }}_files/comics/{{ $s.folder }}/768/{{ .Params.comic }} 768w,
                        {{ .Site.BaseURL }}_files/comics/{{ $s.folder }}/1024/{{ .Params.comic }} 1024w,
                        {{ .Site.BaseURL }}_files/comics/{{ $s.folder }}/1280/{{ .Params.comic }} 1280w,
                        {{ .Site.BaseURL }}_files/comics/{{ $s.folder }}/1400/{{ .Params.comic }} 1400w" 
                    alt="Comic: {{ .Title }} {{ .Date.Format "January 2, 2006" }} by {{ .Site.Author.name }}" 
                    {{ if and (isset .Params "alt") (and (not (eq .Params.alt "")) (not (eq .Params.alt nil))) }}
                        title="{{ .Params.alt }}"
                    {{else}}
                        title="{{ .Title }}: {{ .Date.Format "January 2, 2006" }} by {{ .Site.Author.name }}"
                    {{end}}
                    class="animated comic--comic_img"
                />
                <!--// main comic -->

            </figure>      
        </section>
        {{ end }}
        <!-- end comic check -->

        <!-- begin navigation -->
        <nav class="comic--nav">
            
                {{ if .IsHome }}
                    <!-- Previous Post -->
                    {{ range first 1 (after 1 (where .Data.Pages "Type" "chipmunkbay")) }}
                      
                            <a href="{{ .Permalink }}" class="icon-button_alt prev" title="{{ .Title }}">
                                <i class="icon-arrow"></i>
                                <span>&lsaquo; Prev</span>
                            </a>
                        
                    {{ end }}
                    <!-- end previous post btn -->
                {{ else }}
                    <!-- previous button -->
                    {{ if .PrevInSection }}
                        
                            <a href="{{ .PrevInSection.Permalink }}" class="prev icon-button_alt" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">
                                <i class="icon-arrow"></i>
                                <span>&laquo; Prev</span>
                            </a>
                        
                    {{ end }}
                    <!-- show weiner button -->
                    {{ if isset .Params "weiner" }}
                    
                        <a href="#" data-target=".comic--weiner" class="icon-button_alt weiner-toggle">
                            <span>bonus panel</span>
                        </a>
                    
                    {{ end }}
                    <!-- next -->
                    {{ if .NextInSection }}
                       
                            <a href="{{ .NextInSection.Permalink }}" class="next icon-button_alt" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">
                                <i class="icon-arrow-next"></i>
                                <span>Next &raquo;</span>
                            </a>
                    
                    {{ end }}
                    <!-- end if comic check -->
                {{ end }}
            
        </nav>
        <!-- begin article content -->
        <article class="comic--article">
            <div class="container">
            <header>
                <a href="{{ .Permalink }}" title="Permalink to comic &quot;{{ .Title }}&quot;, published {{ .Date.Format "January 2, 2006" }} by {{ .Site.Author.name }}">
                    <h1>{{ .Title }}</h1>
                </a>
                <small>{{ .Date.Format "Jan 2, 2006" }}</small>
            </header>

            <main>
                {{ .Content }}
            </main>

            <aside>
                <!-- tags -->
                {{ if and (isset .Params "tags") (and (not (eq .Params.tags "")) (not (eq .Params.tags nil))) }}
                <div class="tags">
                    <!--<label>tags</label>-->
                    {{ range .Params.tags }}
                        <a href="{{ "/tags/" }}{{ . | urlize }}" class="tag tag--tag" title="Comics tagged as &ldquo;{{ . }}&rdquo;">
                            <span class="tag__text">{{ . }}</span><i class="icon-button--tan tag__bg"></i>                            
                        </a> 
                    {{ end }} 
                </div>
                {{ end }}

                <!-- characters -->
                {{ if and (isset .Params "characters") (and (not (eq .Params.characters "")) (not (eq .Params.characters nil))) }}
                <div class="tags">
                    <!--<label>characters</label>-->
                    {{ range .Params.characters }}
                        <a href="{{ "/characters/" }}{{ . | urlize }}" class="tag tag--character" title="Comics featuring &ldquo;{{ . }}&rdquo;">
                            <span class="tag__text">{{ . }}</span><i class="icon-button--grey tag__bg"></i>                            
                        </a>
                    {{ end }} 
                </div>
                {{ end }}

                <!-- storyline -->
                {{ if and (isset .Params "storyline") (and (not (eq .Params.storyline "")) (not (eq .Params.storyline nil))) }}
                <div class="tags">
                    <!--<label>storyline</label>-->
                    {{ range .Params.storyline }}
                        <a href="{{ "/storyline/" }}{{ . | urlize }}" class="tag tag--storyline" title="Comics in the &ldquo;{{ . }}&rdquo; storyline">
                            <span class="tag__text">{{ . }}</span><i class="icon-button--teal tag__bg"></i>                            
                        </a>
                    {{ end }} 
                </div>
                {{ end }}
            </aside>
            <footer>
                <p>Share this comic:</p>
                <ul class="ul ul--list">
                    <li>
                        <a href="http://www.facebook.com/share.php?u={{ .URL | absURL }}" title="Share on Facebook" class="tag">
                            <span class="icon-facebook tag__text">facebook</span>
                            <i class="icon-tag--facebook tag__bg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/intent/tweet?url={{ .URL | absURL }}&text={{ .Title }}" title="Share on Twitter" class="tag">
                            <span class="icon-twitter tag__text">twitter</span>
                            <i class="icon-tag--twitter tag__bg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/share?url={{ .URL | absURL }}" title="Share on Google+" class="tag">
                            <span class="icon-gplus tag__text">google plus</span>
                            <i class="icon-tag--red tag__bg"></i>
                        </a>
                    </li>
                </ul>
                <a href="{{ .Site.BaseURL }}chipmunkbay" title="Browse the archives" class="tag"><span class="tag__text">browse archives</span><i class="icon-button--red tag__bg"></i></a>
                
            </footer>
            </div>
        </article>
    
</main>
<!-- end post -->
