
        <!-- begin article content -->
        <article class="comic--article">
            <div class="container">
            <header class="comic--article__header">
                <a href="{{ .Permalink }}" title="Permalink to comic &quot;{{ .Title }}&quot;, published {{ .Date.Format "January 2, 2006" }} by {{ .Site.Author.name }}">
                    <h1>{{ .Title }}</h1>
                </a>
                <small>{{ .Date.Format "Jan 2, 2006" }}</small>
            </header>

            <main class="comic--article__body">
                {{ .Content }}
            </main>

            <aside class="comic--article__tags">
                <!-- tags -->
                {{ if and (isset .Params "tags") (and (not (eq .Params.tags "")) (not (eq .Params.tags nil))) }}
                <div class="tags">
                    <!--<label>tags</label>-->
                    {{ range .Params.tags }}
                        <a href="{{ "/tags/" }}{{ . | urlize }}" class="btn -tag" title="Comics tagged as &ldquo;{{ . }}&rdquo;">
                            <span class="btn__text">{{ . }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-button btn__bg">
                                <use xlink:href="#icon-button"></use>
                            </svg>
                        </a> 
                    {{ end }} 
                </div>
                {{ end }}

                <!-- characters -->
                {{ if and (isset .Params "characters") (and (not (eq .Params.characters "")) (not (eq .Params.characters nil))) }}
                <div class="tags">
                    <!--<label>characters</label>-->
                    {{ range .Params.characters }}
                        <a href="{{ "/characters/" }}{{ . | urlize }}" class="btn -character" title="Comics featuring &ldquo;{{ . }}&rdquo;">
                            <span class="btn__text">{{ . }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-button btn__bg">
                                <use xlink:href="#icon-button"></use>
                            </svg>
                        </a>
                    {{ end }} 
                </div>
                {{ end }}

                <!-- storyline -->
                {{ if and (isset .Params "storyline") (and (not (eq .Params.storyline "")) (not (eq .Params.storyline nil))) }}
                <div class="tags">
                    <!--<label>storyline</label>-->
                    {{ range .Params.storyline }}
                        <a href="{{ "/storyline/" }}{{ . | urlize }}" class="btn -storyline" title="Comics in the &ldquo;{{ . }}&rdquo; storyline">
                            <span class="btn__text">{{ . }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-button btn__bg">
                                <use xlink:href="#icon-button"></use>
                            </svg>
                        </a>
                    {{ end }} 
                </div>
                {{ end }}
            </aside>
            <footer class="comic--article__footer">
                <p>Share this comic:</p>
                <div class="buttons">
                    
                        <a href="http://www.facebook.com/share.php?u={{ .URL | absURL }}" title="Share on Facebook" class="btn -facebook -social">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-facebook icon -social -facebook">
                                <use xlink:href="#icon-facebook"></use>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                <use xlink:href="#icon-tag"></use>
                            </svg>
                        </a>
                    
                    
                        <a href="https://twitter.com/intent/tweet?url={{ .URL | absURL }}&text={{ .Title }}" title="Share on Twitter" class="btn -twitter -social">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-twitter icon -social -twitter">
                                <use xlink:href="#icon-twitter"></use>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                <use xlink:href="#icon-tag"></use>
                            </svg>
                        </a>
                    
                    
                        <a href="https://plus.google.com/share?url={{ .URL | absURL }}" title="Share on Google+" class="btn -gplus -social">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-gplus icon -social -gplus">
                                <use xlink:href="#icon-gplus"></use>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                <use xlink:href="#icon-tag"></use>
                            </svg>
                        </a>
                    
                </div>
                <a href="{{ .Site.BaseURL }}chipmunkbay" title="Browse the archives" class="btn -lg">
                    <span class="btn__text">browse archives</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-button btn__bg">
                        <use xlink:href="#icon-button"></use>
                    </svg>
                </a>
                
            </footer>
            </div>
        </article>
    
