<!-- begin post -->
<main class="comic">
   
        <!-- begin comic -->
        {{ if (isset .Params "comic") }}
        <section class="comic--comic icon-comic-bg">
            <figure>
                <!-- define title -->
                {{ $t := title .Type }}
                <!-- define metadata -->
                {{ $s := index $.Site.Data.metadata $t }}

                <!-- check for 'weiner' comic -->
                {{ if (isset .Params "weiner") }}
                    <!-- check to see if variable is defined AND not empty -->
                    {{ if and (not (eq .Params.weiner "")) (not (eq .Params.weiner nil)) }}
                        <img sizes="(min-width: 1400px) 1400px, 100vw" srcset="{{ .Site.BaseURL }}_files/comics/weiner/sm/{{ .Params.weiner }} 960w,{{ .Site.BaseURL }}_files/comics/weiner/lg/{{ .Params.weiner }} 1400w" src="{{ .Site.BaseURL }}_files/comics/weiner/lg/{{ .Params.weiner }}" alt="bonus panel" class="animated comic--weiner">
                    {{ else }}
                        <img sizes="(min-width: 1400px) 1400px, 100vw" srcset="{{ .Site.BaseURL }}_files/comics/weiner/sm/{{ .Date.Format "20060102" }}.png 960w,{{ .Site.BaseURL }}_files/comics/weiner/lg/{{ .Date.Format "20060102" }}.png 1400w" src="{{ .Site.BaseURL }}_files/comics/weiner/lg/{{ .Date.Format "20060102" }}.png" alt="bonus panel" class="animated comic--weiner">
                    {{ end }}
                    <!-- end check -->
                {{ end }}
                <!-- end 'weiner' comic check -->


                <!-- 
                    decided not to make this dynamic for the sake of the header and rss feed. Too many files NEED to know what the comic is. Just specify it in the post and be done.

                    Plus, eventually will probably want to SEO the file names as well.

                    but this would have worked:
                    {{ if or (not (isset .Params "comic")) (or (not (eq .Params.comic "")) (not (eq .Params.comic nil))) }}
                        ** (dynamic comic file based on date).png **
                    {{ else }}
                        ** specified comic file (in case of jpg, for example) **
                    {{ end }}
                -->

                <!-- main comic //-->
                <img sizes="(min-width: 1400px) 1400px, 100vw" srcset="{{ .Site.BaseURL }}_files/comics/{{ $s.folder }}/sm/{{ .Params.comic }} 960w,{{ .Site.BaseURL }}_files/comics/{{ $s.folder }}/lg/{{ .Params.comic }} 1400w" src="{{ .Site.BaseURL }}_files/comics/{{ $s.folder }}/lg/{{ .Params.comic }}" alt="Comic: {{ .Title }} {{ .Date.Format "January 2, 2006" }} by {{ .Site.Author.name }}" {{ if and (isset .Params "alt") (and (not (eq .Params.alt "")) (not (eq .Params.alt nil))) }}title="{{ .Params.alt }}"{{else}}title="{{ .Title }}: {{ .Date.Format "January 2, 2006" }} by {{ .Site.Author.name }}"{{end}} class="animated comic--comic_img">
                <!--// main comic -->

            </figure>      
        </section>
        {{ end }}
        <!-- end comic check -->

        <!-- begin navigation -->
        <nav class="comic--nav">
            
                {{ if .IsHome }}
                    <!-- Previous Post -->
                    {{ range first 1 (after 1 (where .Data.Pages "Type" "chipmunkbay")) }}
                      
                            <a href="{{ .Permalink }}" class="icon-button prev" title="{{ .Title }}">
                                <i class="icon-arrow"></i>
                                <span>&lsaquo; Prev</span>
                            </a>
                        
                    {{ end }}
                    <!-- end previous post btn -->
                {{ else }}
                    <!-- previous button -->
                    {{ if .PrevInSection }}
                        
                            <a href="{{ .PrevInSection.Permalink }}" class="prev icon-button" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">
                                <i class="icon-arrow"></i>
                                <span>&laquo; Prev</span>
                            </a>
                        
                    {{ end }}
                    <!-- show weiner button -->
                    {{ if isset .Params "weiner" }}
                    
                        <a href="#" data-target=".comic--weiner" class="icon-button weiner-toggle">
                            <span>bonus panel</span>
                        </a>
                    
                    {{ end }}
                    <!-- next -->
                    {{ if .NextInSection }}
                       
                            <a href="{{ .NextInSection.Permalink }}" class="next icon-button" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">
                                <i class="icon-arrow-next"></i>
                                <span>Next &raquo;</span>
                            </a>
                    
                    {{ end }}
                    <!-- end if comic check -->
                {{ end }}
            
        </nav>
        <!-- begin article content -->
        <article class="comic--article">
            <div class="container">
            <header>
                <a href="{{ .Permalink }}" title="Permalink to comic &quot;{{ .Title }}&quot;, published {{ .Date.Format "January 2, 2006" }} by {{ .Site.Author.name }}">
                    <h1>{{ .Title }}</h1>
                </a>
                <small>{{ .Date.Format "Jan 2, 2006" }}</small>
            </header>

            <main>
                {{ .Content }}
            </main>

            <aside>
                <!-- tags -->
                {{ if and (isset .Params "tags") (and (not (eq .Params.tags "")) (not (eq .Params.tags nil))) }}
                <div class="tags">
                    <!--<label>tags</label>-->
                    {{ range .Params.tags }}
                        <a href="{{ "/tags/" | absURL }}{{ . | urlize }}" class="tag" title="Comics tagged as &ldquo;{{ . }}&rdquo;">
                            <span>{{ . }}</span><i class="icon-tag" data-grunticon-embed></i>                            
                        </a> 
                    {{ end }} 
                </div>
                {{ end }}

                <!-- characters -->
                {{ if and (isset .Params "characters") (and (not (eq .Params.characters "")) (not (eq .Params.characters nil))) }}
                <div class="tags--characters">
                    <!--<label>characters</label>-->
                    {{ range .Params.characters }}
                        <a href="{{ "/characters/" | absURL }}{{ . | urlize }}" class="tag" title="Comics featuring &ldquo;{{ . }}&rdquo;">
                            <span>{{ . }}</span><i class="icon-tag" data-grunticon-embed></i>                            
                        </a>
                    {{ end }} 
                </div>
                {{ end }}

                <!-- storyline -->
                {{ if and (isset .Params "storyline") (and (not (eq .Params.storyline "")) (not (eq .Params.storyline nil))) }}
                <div class="tags--storyline">
                    <!--<label>storyline</label>-->
                    {{ range .Params.storyline }}
                        <a href="{{ "/storyline/" | absURL }}{{ . | urlize }}" class="tag" title="Comics in the &ldquo;{{ . }}&rdquo; storyline">
                            <span>{{ . }}</span><i class="icon-tag" data-grunticon-embed></i>                            
                        </a>
                    {{ end }} 
                </div>
                {{ end }}
            </aside>
            <footer>
                <p>Share this comic:</p>
                <ul class="ul">
                    <li>
                        <a href="http://www.facebook.com/share.php?u={{ .URL | absURL }}" title="Share on Facebook">
                            <span class="icon-facebook">facebook</span>
                            <i class="icon-tag tag" data-grunticon-embed></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/intent/tweet?url={{ .URL | absURL }}&text={{ .Title }}" title="Share on Twitter">
                            <span class="icon-twitter">twitter</span>
                            <i class="icon-tag tag" data-grunticon-embed></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/share?url={{ .URL | absURL }}" title="Share on Google+">
                            <span class="icon-gplus">google plus</span>
                            <i class="icon-tag tag" data-grunticon-embed></i>
                        </a>
                    </li>
                </ul>
                <a href="{{ .Site.BaseURL }}chipmunkbay" title="Browse the archives"><span>browse archives</span><i class="icon-button" data-grunticon-embed></i></a>
                
            </footer>
            </div>
        </article>
    
</main>
<!-- end post -->
