<section class="city">
	<img src="{{ .Site.BaseURL }}_files/img/city.png" alt="Cityscape of Chipmunk Bay">
</section>
<footer class="footer">
    <footer class="container">
        <p>
            <small>
                    {{ .Site.Title }} &copy; copyright 2004-today {{ .Site.Author.name }}. all rights reserved.
                </small>
        </p>
    </footer>
</footer>
<script src="{{ .Site.BaseURL }}_files/js/scripts.js"></script>
{{ template "_internal/google_analytics.html" . }}
</body>
</html>
