<section class="city">
    <img src="{{ .Site.BaseURL }}_files/img/city.png" alt="Cityscape of Chipmunk Bay">
</section>
<footer class="footer">
    <header class="container footer__header columns">
        <!--<i class="icon-logo">Chipmunk Bay</i>-->
        <div class="col">
            <a href="{{ .Site.BaseURL }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-logo">
                <use xlink:href="#icon-logo"></use>
            </svg>
            </a>
        </div>
    </header>
    <main class="footer__body container columns {{ if and (isset .Site.Author "patreon") (not (eq .Site.Author.patreon "")) }} -three {{ else }} -two {{ end }}">
        <div class="col">
            <h3>a comic by {{ .Site.Author.name }}</h3>
            <p>The humorous adventures of four close friends (and a kid) in the tiny lake-side town of Chipmunk Bay. </p>
            <p>Also, there's a talking monkey.</p>
        </div>
        <div class="col">
            <h3>Follow the comic!</h3>
            <p>Need to be notified everytime there's a new comic posted? Here are some options:</p>
            <div class="buttons">
                <a href="{{ .Site.Author.facebook }}" title="Follow via Facebook" class="btn -facebook -social">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-facebook icon -social -facebook">
                        <use xlink:href="#icon-facebook"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                        <use xlink:href="#icon-tag"></use>
                    </svg>
                </a>
                <a href="{{ .Site.Author.twitter }}" title="Follow via Twitter" class="btn -twitter -social">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-twitter -twitter icon -social">
                        <use xlink:href="#icon-twitter"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                        <use xlink:href="#icon-tag"></use>
                    </svg>
                </a>
                <a class="btn -social -rss" href="{{ .Site.Author.rss }}" title="Follow via RSS">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-rss -rss icon -social">
                        <use xlink:href="#icon-rss"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                        <use xlink:href="#icon-tag"></use>
                    </svg>
                </a>
                <a class="btn -social -email" href="{{ .Site.Author.rss_email }}" title="Get notified via email">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-email -email icon -social">
                        <use xlink:href="#icon-email"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                        <use xlink:href="#icon-tag"></use>
                    </svg>
                </a>
            </div>
        </div>
        {{ if and (isset .Site.Author "patreon") (not (eq .Site.Author.patreon "")) }}
        <div class="col">
            <h3>Support the comic!</h3>
            <p>Become a Chipmunk Bay patron and receive lots of happy karma thoughts, straight from my brain waves directly to you!</p>
            <a href="{{ .Site.Author.patreon }}" title="Visit my patreon account for details" class="btn -nopad">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-patreon_full">
                    <use xlink:href="#icon-patreon_full"></use>
                </svg>
            </a>
        </div>
        {{ end }}
    </main>
    <footer class="footer__bottom">
        <div class="container">
            <div class="col">
                <p>
                    Copyright <span class="serif">&copy;</span> 2004-<span data-updateme-year>today</span> {{ .Site.Author.name }}. All rights reserved.
                </p>
            </div>
            <div class="col">
                <button type="button" title="Email {{ .Site.Author.name }}" class="btn -nopad -lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-email btn__icon">
                        <use xlink:href="#icon-email"></use>
                    </svg>
                    <span class="btn__text">Contact me</span>
                </button>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-bg__comic footer__bg">
            <use xlink:href="#icon-bg__comic"></use>
        </svg>
    </footer>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon-bg__comic footer__bg">
        <use xlink:href="#icon-bg__comic"></use>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon-bg__comic footer__bg">
        <use xlink:href="#icon-bg__comic"></use>
    </svg>
</footer>
<script src="{{ .Site.BaseURL }}_files/js/vendor/custom-modernizr.js"></script>
<script src="{{ .Site.BaseURL }}_files/js/scripts.js"></script>
{{ template "_internal/google_analytics.html" . }}
</body>

</html>
