<input type="checkbox" id="menuToggle">
<label class="nav-menu" for="menuToggle" onclick>
    <i class="icon-menu"></i>
    <span>menu</span>
    <i class="close-button" data-type="close"></i>
</label>
<ul class="nav-content ul">
    <li>
        <a href="{{ .Site.BaseURL }}new" title="New Readers">New readers</a>
    </li>
    <li>
        <a href="{{ .Site.BaseURL }}extras" title="Extras">Extras</a>
    </li>
    <!-- if patreon is set in config.toml, AND it's not empty -->
    {{ if and (isset .Site.Author "patreon") (not (eq .Site.Author.patreon "")) }}
    <li>
        <a href="{{ .Site.Author.patreon }}" title="Support the comic">
            Support me on Patreon
            <i class="icon-patreon"></i>
        </a>
    </li>
    {{ end }}
    <li>
        <a href="{{ .Site.BaseURL }}contact" title="Contact us">
            <i class="icon-email_solid"></i> <span>Contact me</span>
        </a>
    </li>
</ul>
