@media (min-width: 48.01em) and (max-width: 63.99em) {
  .has-no-flexbox .footer main .col:first-of-type {
    display: block;
    clear: both; }
  .has-no-flexbox .footer main.two-col .col:first-of-type {
    display: table-cell;
    clear: none;
    width: 50%;
    padding-right: 1em; }
  .has-no-flexbox .footer main .col:nth-of-type(2),
  .has-no-flexbox .footer main .col:nth-of-type(3) {
    display: table-cell;
    width: 50%; }
  .has-no-flexbox .footer main .col:nth-of-type(2) {
    padding-right: 1em; } }

@media (min-width: 64.01em) {
  .has-no-flexbox .footer main {
    display: table; }
    .has-no-flexbox .footer main .col {
      display: table-cell;
      vertical-align: top;
      padding-right: 1em;
      width: 33.333%; }
    .has-no-flexbox .footer main.two-col .col {
      width: 50%; } }
