body {
  font-family: 'McLaren', Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.438;
  text-transform: none;
  color: #686E75; }
  @media (min-width: 48.01em) {
    body {
      font-size: 1.05em;
      line-height: 1.529; } }
  @media (min-width: 64.01em) {
    body {
      font-size: 1.1em;
      line-height: 1.556; } }

h2, h3, h4 {
  font-weight: 600;
  margin-top: 0; }

/*
h2,h3,h4,.tags {
    font-family: 'Architects Daughter', Georgia, serif;
}
*/
.serif {
  font-family: Georgia,serif; }

h1 {
  font-family: 'Chewy', Helvetica, Helvetica Neue, Arial, sans-serif;
  font-weight: inherit;
  font-size: 2rem;
  color: #B36769;
  display: inline-block;
  margin: 0 0 0.5em;
  line-height: 1; }
  @media (min-width: 48.01em) {
    h1 {
      font-size: 2.4rem; } }
  @media (min-width: 64.01em) {
    h1 {
      font-size: 3rem; } }
  @media (min-width: 75.01em) {
    h1 {
      font-size: 3.4rem; } }

h2 {
  font-size: 1.4em; }

h4 {
  font-size: 2rem; }

p,
q,
li {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit; }

p,
q {
  margin: 0 0 0.75rem; }

li {
  margin: 0 0 1.25rem; }

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 1.2rem; }

.ul {
  padding: 0; }
  .ul li {
    list-style: none; }
