img.city-bg-footer {
  width: 100%;
  height: auto;
  max-width: 2000px;
  margin: 0 auto;
  text-align: center; }

.footer {
  position: relative;
  background-color: #414753; }
  .footer .container {
    position: relative;
    z-index: 1;
    max-width: 560px; }
    @media (min-width: 48.01em) {
      .footer .container {
        max-width: 1480px; } }
  .footer .icon-logo {
    margin-bottom: 1em; }
  .footer h3 {
    color: #BEC4D3; }
  .footer p {
    color: #BCBEC0; }
  .footer header {
    padding-top: 30px; }
    .footer header i {
      text-indent: -1000em;
      width: 200px;
      height: 80px;
      max-width: none; }
    @media (min-width: 48.01em) {
      .footer header {
        padding-top: 40px; }
        .footer header i {
          width: 415px;
          height: 115px;
          max-width: none;
          margin-left: 30px; } }
  .footer main {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4em; }
    .footer main ul {
      padding: 0; }
    .footer main li {
      display: inline-block; }
      .footer main li .tag {
        padding: 0;
        margin: 0; }
        .footer main li .tag:hover {
          transform: scale(1.1); }
      .footer main li .tag__text {
        font-size: 0;
        display: block;
        background-size: contain;
        position: relative;
        z-index: 2;
        background-position: center;
        height: 18px;
        width: 18px;
        margin: 10px; }
        @media (min-width: 64.01em) {
          .footer main li .tag__text {
            width: 25px;
            height: 25px;
            margin: 12px; } }
      .footer main li:nth-of-type(even) .tag__bg {
        transform: rotate(180deg); }
    .footer main .col {
      margin-bottom: 0.5em;
      border-bottom: 1px solid #363b45;
      padding-bottom: 0.5em; }
      .footer main .col:last-of-type {
        border-bottom: 0; }
    .footer main a {
      position: relative; }
      .footer main a .icon-patreon_full {
        display: block;
        background-size: contain;
        width: 100%;
        max-width: 120px;
        height: 32px;
        position: relative; }
        .footer main a .icon-patreon_full:after {
          content: '';
          position: absolute;
          bottom: -6px;
          left: 0;
          width: 0;
          transition: all 400ms ease;
          border-bottom: 2px solid #A7A9AC; }
        .footer main a .icon-patreon_full:hover:after {
          width: 100%; }
    @media (min-width: 48.01em) {
      .footer main .col {
        padding: 0 30px;
        max-width: 560px;
        border-bottom: 0; } }
@media (min-width: 48.01em) and (max-width: 63.99em) {
  .footer main .col {
    flex: 0 0 50%; }
    .footer main .col:first-of-type {
      flex: 0 0 100%;
      padding-bottom: 1em;
      margin-bottom: 1em;
      position: relative; }
      .footer main .col:first-of-type:after {
        content: '';
        border-bottom: 1px solid #363b45;
        position: absolute;
        bottom: 0;
        width: 100%; } }

    @media (min-width: 64.01em) {
      .footer main .col {
        flex: 0 0 33.3333%; }
        .footer main .col:nth-of-type(2) {
          border-left: 1px solid #363b45;
          border-right: 1px solid #363b45; }
      .footer main a .icon-patreon_full {
        max-width: 220px;
        height: 50px; } }
@media (min-width: 48.01em) and (max-width: 63.99em) {
  .footer main.two-col .col {
    flex: 0 0 50%;
    max-width: 560px; }
    .footer main.two-col .col:first-of-type {
      flex: 0 0 50%; }
      .footer main.two-col .col:first-of-type:after {
        display: none; } }

    @media (min-width: 64.01em) {
      .footer main.two-col .col {
        flex: 0 0 50%;
        max-width: 560px; }
        .footer main.two-col .col:nth-of-type(2) {
          border-right: 0; } }
  .footer footer {
    position: relative;
    z-index: 2;
    color: #414753; }
    .footer footer .col {
      padding-top: 12px;
      padding-bottom: 12px; }
    .footer footer button {
      border: 0;
      box-shadow: 0;
      text-shadow: none;
      background: transparent;
      color: white;
      padding: 0;
      vertical-align: middle;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 400ms ease;
      opacity: 0.8; }
      .footer footer button i {
        width: 37px;
        height: 24px;
        background-size: contain;
        display: inline-block;
        margin-right: 6px;
        transition: inherit; }
      .footer footer button:hover {
        opacity: 1;
        transform: scale(1.1); }
        .footer footer button:hover i {
          transform: rotate(12deg); }
    @media (min-width: 48.01em) {
      .footer footer .container .col {
        display: inline-block;
        padding-right: 30px;
        padding-left: 30px; }
        .footer footer .container .col:last-of-type {
          float: right; } }
  .footer .icon-comic-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .footer .icon-comic-bg svg {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0; }
      .footer .icon-comic-bg svg path {
        fill: inherit; }
  .footer .footer-bg-wrap {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .footer footer {
    background-color: black; }
    .footer footer .icon-comic-bg svg {
      fill: #000;
      transform: rotateY(180deg);
      width: 250%; }
      @media (min-width: 64.01em) {
        .footer footer .icon-comic-bg svg {
          width: 200%; } }
  .footer > .footer-bg-wrap .icon-comic-bg svg {
    fill: #414753;
    width: 200%;
    right: 0;
    left: initial; }
    @media (min-width: 64.01em) {
      .footer > .footer-bg-wrap .icon-comic-bg svg {
        width: 150%; } }
