a {
  text-decoration: none; }

/* comic blog */
.comic--article main a {
  transition: color .18s ease;
  color: #333;
  position: relative;
  display: inline-block;
  border-bottom: 2px solid #bababa; }
  .comic--article main a:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto -2px auto;
    width: 0;
    height: 2px;
    background-color: #0E94EC;
    transition: width .18s ease .1s; }
  .comic--article main a:hover {
    color: #0E94EC;
    transition: color 0s; }
    .comic--article main a:hover:after {
      transition: width 0s;
      width: 100%; }
