.list .ul--list {
  padding: 0; }
.list .container {
  padding-top: 1em; }
.list--nav h3 {
  letter-spacing: 1px;
  cursor: pointer; }
.list--nav--main {
  display: none;
  padding-top: 2em; }
.list--results__header {
  margin-bottom: 2rem; }
.list--results--page-title {
  margin-bottom: 0; }
  .list--results--page-title span {
    color: #668952; }
.list--results--count {
  font-size: 70%; }
.list--results--item {
  margin-bottom: 3em; }
.list--results--info {
  margin-bottom: 0.2em; }
.list--results--title {
  display: inline-block;
  color: #B36769; }
.list--results--date {
  display: inline-block;
  color: #A7A9AC; }
  .list--results--date:before {
    content: '// ';
    letter-spacing: -4px;
    margin-right: 8px;
    opacity: 0.4; }
.list--results--comic .comic--comic {
  padding: 0;
  background: transparent; }
.list--results--tags {
  font-size: 12px; }
  .list--results--tags p {
    display: inline-block;
    margin-bottom: 0.2em; }
  .list--results--tags a[href*="tags/"] {
    color: #b5b094; }
  .list--results--tags a[href*="characters/"] {
    color: #A7A9AC; }
  .list--results--tags a[href*="storyline/"] {
    color: #789A87; }
  .list--results--tags a:after {
    content: ', '; }
  .list--results--tags a:last-of-type:after {
    display: none; }
.list--results--share .tag {
  padding: 2px 4px;
  display: flex; }
  .list--results--share .tag:hover {
    transform: scale(1.1); }
.list--results--share .tag__text {
  text-indent: -1000em;
  background-size: contain;
  position: relative;
  z-index: 2;
  background-position: center;
  width: 12px;
  height: 12px;
  margin: 8px;
  font-size: 0; }
  .list--results--share .tag__text:nth-of-type(even) {
    transform: rotate(180deg); }
@media (min-width: 48.01em) {
  .list--results {
    /*
&--share {
    .tag__text {
        width: 18px;
        height: 18px;
    }
}
*/ }
    .list--results--info {
      display: flex; }
    .list--results--title {
      flex: 0 0 70%; }
    .list--results--date {
      flex: 0 0 30%;
      text-align: right; }
      .list--results--date:before {
        display: none; } }
@media (min-width: 48.01em) {
  .list .container {
    display: flex;
    padding-top: 1.5em; }
  .list .list--nav {
    flex: 0 0 40%;
    padding-right: 1em; }
  .list .list--results {
    flex: 0 0 60%;
    border-left: 1px solid #D3D3D3;
    padding-left: 1em; } }
@media (min-width: 64.01em) {
  .list .container {
    padding-top: 2em; }
  .list .list--nav {
    flex: 0 0 35%;
    padding-right: 2em; }
  .list .list--results {
    flex: 0 0 65%;
    padding-left: 2em; } }
@media (min-width: 75.01em) {
  .list .list--nav {
    flex: 0 0 30%;
    padding-right: 3em; }
  .list .list--results {
    flex: 0 0 70%;
    padding-left: 3em; } }
