{{ partial "head.html" . }}
<main class="archives archives--storyline">
    <div class="container">
        <!-- define baseurl -->
        {{ $baseurl := .Site.BaseURL }} {{ $singular := ( .Title | singularize) }}
        <!-- define metadata stuff -->
        {{ $metadata := index $.Site.Data.metadata $singular }}
        <!-- define characters stuff -->
        {{ $char_title := ( replace .Title " " "-" ) }} {{ $character := index $.Site.Data.characters $char_title }}
        <section class="archives__results">
            <!-- define paginator -->
            {{ $pag := .Paginate (where .Data.Pages "Type" "chipmunkbay").Reverse }}
            <header class="archives__results--header">
                <h3 class="archives__results--page-title">Comics in the <span>"{{ .Title }}"</span> storyline</h3>
                <p class="archives__results--count">Showing {{add (mul (sub $pag.PageNumber 1) $pag.PageSize) 1 }}-{{ if $pag.HasNext }}{{ mul $pag.PageNumber $pag.PageSize }}{{ else }}{{ $pag.TotalNumberOfElements }}{{ end }} of {{ $pag.TotalNumberOfElements }} total comics.</p>
            </header>
            <main class="archives__results--main">
                <!-- return actual results -->
                {{ range $index, $pag.Pages.ByDate }}
                <div class="archives__results--item">
                    <div class="archives__results--info">
                        <a href="{{ .Permalink }}" title="{{ .Title }}" class="archives__results--title">
                            {{.Title}}
                        </a>
                        <span class="archives__results--date">{{ .Date.Format "Jan 2, 2006" }}</span>
                    </div>
                    <div class="archives__results--comic">
                        {{ partial "comic__comic.html" . }}
                        <aside class="archives__results--tags">
                            <p>Tags:</p>
                            <!-- tags -->
                            {{ if and (isset .Params "tags") (and (not (eq .Params.tags "")) (not (eq .Params.tags nil))) }}
                            <!--<label>tags</label>-->
                            {{ range .Params.tags }}
                            <span>
                                <a href="{{ "/tags/" }}{{ . | urlize }}" title="Comics tagged as &ldquo;{{ . }}&rdquo;">{{ . }}</a> 
                            </span> {{ end }} {{ end }}
                            <!-- characters -->
                            {{ if and (isset .Params "characters") (and (not (eq .Params.characters "")) (not (eq .Params.characters nil))) }}
                            <!--<label>characters</label>-->
                            {{ range .Params.characters }}
                            <span>
                                <a href="{{ "/characters/" }}{{ . | urlize }}" title="Comics featuring &ldquo;{{ . }}&rdquo;">{{ . }}</a>
                            </span> {{ end }} {{ end }}
                            <!-- storyline -->
                            {{ if and (isset .Params "storyline") (and (not (eq .Params.storyline "")) (not (eq .Params.storyline nil))) }}
                            <!--<label>storyline</label>-->
                            {{ range .Params.storyline }}
                            <span>
                                <a href="{{ "/storyline/" }}{{ . | urlize }}" title="Comics in the &ldquo;{{ . }}&rdquo; storyline">{{ . }}</a>
                            </span> {{ end }} {{ end }}
                        </aside>
                        <footer class="archives__results--share">
                            <a href="http://www.facebook.com/share.php?u={{ .URL | absURL }}" title="Share on Facebook" class="btn -facebook -social">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-facebook icon -social -facebook">
                                    <use xlink:href="#icon-facebook"></use>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                    <use xlink:href="#icon-tag"></use>
                                </svg>
                            </a>
                            <a href="https://twitter.com/intent/tweet?url={{ .URL | absURL }}&text={{ .Title }}" title="Share on Twitter" class="btn -twitter -social">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-twitter icon -social -twitter">
                                    <use xlink:href="#icon-twitter"></use>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                    <use xlink:href="#icon-tag"></use>
                                </svg>
                            </a>
                            <a href="https://plus.google.com/share?url={{ .URL | absURL }}" title="Share on Google+" class="btn -gplus -social">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-gplus icon -social -gplus">
                                    <use xlink:href="#icon-gplus"></use>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                    <use xlink:href="#icon-tag"></use>
                                </svg>
                            </a>
                        </footer>
                    </div>
                </div>
                {{ end }}
                <!-- end results for this page -->
            </main>
            <!-- if there are pages, render pagination -->
            <footer class="archives__results--footer">
                {{ if or ($pag.HasPrev) ($pag.HasNext) }}
                <ul class="ul ul-inline pagination archives__pagination">
                    <!-- if there are more than 1 pages of results -->
                    {{ if gt $pag.TotalPages 1 }}
                    <!-- first -->
                    {{ if not $pag.HasPrev }}
                    <li class="-disabled archives__pagination--item">
                        <span class="archives__pagination--text" aria-hidden="true">&laquo;</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                            <use xlink:href="#icon-tag"></use>
                        </svg>
                    </li>
                    {{ else }}
                    <li class="archives__pagination--item">
                        <a aria-label="First" title="First page of results" href="{{ $baseurl }}{{ $pag.First.URL }}">
                            <span class="archives__pagination--text" aria-hidden="true">&laquo;</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                <use xlink:href="#icon-tag"></use>
                            </svg>
                        </a>
                    </li>
                    {{ end }}
                    <!-- prev -->
                    {{ if not $pag.HasPrev }}
                    <li class="-disabled archives__pagination--item">
                        <span class="archives__pagination--text" aria-hidden="true">&lsaquo;</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                            <use xlink:href="#icon-tag"></use>
                        </svg>
                    </li>
                    {{ else }}
                    <li class="archives__pagination--item">
                        <a aria-label="Previous" title="Previous page of results" href="{{ $baseurl }}{{ $pag.Prev.URL }}">
                            <span class="archives__pagination--text" aria-hidden="true">&lsaquo;</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                <use xlink:href="#icon-tag"></use>
                            </svg>
                        </a>
                    </li>
                    {{ end }}
                    <!-- page numbers -->
                    {{ range $pag.Pagers }}
                    <li {{ if eq . $pag }} class="-active archives__pagination--item" {{ else }} class="archives__pagination--item" {{ end }}>
                        <a href="{{ $baseurl }}{{ .URL }}" title="Page {{ .PageNumber }}">
                            <span class="archives__pagination--text">{{ .PageNumber }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                <use xlink:href="#icon-tag"></use>
                            </svg>
                        </a>
                    </li>
                    {{ end }}
                    <!-- next -->
                    {{ if not $pag.HasNext }}
                    <li class="-disabled archives__pagination--item">
                        <span class="archives__pagination--text" aria-hidden="true">&rsaquo;</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                            <use xlink:href="#icon-tag"></use>
                        </svg>
                    </li>
                    {{ else }}
                    <li class="archives__pagination--item">
                        <a aria-label="Next" href="{{ $baseurl }}{{ $pag.Next.URL }}" title="Next page of results">
                            <span class="archives__pagination--text" aria-hidden="true">&rsaquo;</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                <use xlink:href="#icon-tag"></use>
                            </svg>
                        </a>
                    </li>
                    {{ end }}
                    <!-- last -->
                    {{ if not $pag.HasNext }}
                    <li class="-disabled archives__pagination--item">
                        <span class="archives__pagination--text" aria-hidden="true">&raquo;</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                            <use xlink:href="#icon-tag"></use>
                        </svg>
                    </li>
                    {{ else }}
                    <li class="archives__pagination--item">
                        <a aria-label="Last" href="{{ $baseurl }}{{ $pag.Last.URL }}" title="Last page of results">
                            <span class="archives__pagination--text" aria-hidden="true">&raquo;</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tag btn__bg">
                                <use xlink:href="#icon-tag"></use>
                            </svg>
                        </a>
                    </li>
                    {{ end }}
                    <!-- end more than 1 pages check -->
                    {{ end }}
                </ul>
                {{ end }}
            </footer>
            <!-- end pagination -->
        </section>
        <nav class="archives__menu">
            <input type="checkbox" name="checkbox--archives" id="checkbox--archives" class="archives__menu--checkbox" />
            <label for="checkbox--archives" class="archives__menu--label">    
                <h3 class="archives__menu--title">
                    Archives Filter
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-dropdown">
                        <use xlink:href="#icon-dropdown"></use>
                    </svg>
                </h3>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-button btn__bg">
                    <use xlink:href="#icon-button"></use>
                </svg>
            </label>
            <main class="archives__menu--content">
                <div class="archives__menu--taxonomy -character">
                    <input type="checkbox" name="checkbox--character" id="checkbox--character" checked="true" class="archives__menu--checkbox" />
                    <label for="checkbox--character" class="archives__menu--label">
                        <h4 class="archives__menu--title">
                            By character 
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-dropdown">
                                <use xlink:href="#icon-dropdown"></use>
                            </svg>    
                        </h4>                        
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-button btn__bg">
                            <use xlink:href="#icon-button"></use>
                        </svg>
                    </label>
                    <ul class="ul ul--archives archives__menu--links">
                        {{ range $name, $taxonomy := .Site.Taxonomies.characters }}
                        <li class="archives__menu--link">
                            <a href="/characters/{{ $name | urlize }}" title="{{ .Count }} comics featuring &ldquo;{{ $name }}&rdquo;" class="character--{{ $name }}">
                                {{ $name }}
                            </a> {{ .Count }}
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="archives__menu--taxonomy -storyline">
                    <input type="checkbox" name="checkbox--storyline" id="checkbox--storyline" class="archives__menu--checkbox" />
                    <label for="checkbox--storyline" class="archives__menu--label">
                        <h4 class="archives__menu--title">
                            By storyline 
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-dropdown">
                                <use xlink:href="#icon-dropdown"></use>
                            </svg>    
                        </h4>                        
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-button btn__bg">
                            <use xlink:href="#icon-button"></use>
                        </svg>
                    </label>
                    <ul class="ul ul--archives archives__menu--links">
                        {{ range where $.Site.Pages.ByDate ".Params.storyline" "!=" nil }} {{ $link := .Permalink }} {{ range $name, $taxonomy := .Site.Taxonomies }} {{ if eq "storyline" $name }} {{ range $key, $value := $taxonomy }} {{ $count := .Count }} {{ range first 1 $value.Pages }} {{ if (eq .Permalink $link) }}
                        <li class="archives__menu--link">
                            <a href="/storyline/{{ $key | urlize }}" title="{{ $count }} comics within the &ldquo;{{ humanize (string $key) }}&rdquo; storyline">
                                {{ humanize (string $key) }}
                            </a> {{ $count }}
                        </li>
                        {{ end }} {{ end }} {{ end }} {{ end }} {{ end }} {{ end }}
                    </ul>
                </div>
                <div class="archives__menu--taxonomy -tag">
                    <input type="checkbox" name="checkbox--tag" id="checkbox--tag" class="archives__menu--checkbox" />
                    <label for="checkbox--tag" class="archives__menu--label">
                        <h4 class="archives__menu--title">
                            By tag 
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-dropdown">
                                <use xlink:href="#icon-dropdown"></use>
                            </svg>    
                        </h4>                        
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-button btn__bg">
                            <use xlink:href="#icon-button"></use>
                        </svg>
                    </label>
                    <ul class="ul ul--archives archives__menu--links">
                        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        <li class="archives__menu--link">
                            <a href="/tags/{{ $name | urlize }}" title="{{ .Count }} comics featuring &ldquo;{{ $name }}&rdquo;">
                                {{ $name }}
                            </a> {{ .Count }}
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="archives__menu--taxonomy -all">
                    <a href="/chipmunkbay" title="Browse the full archives" class="btn -lg -red">
                        <h4 class="archives__menu--title btn__text">
                            Browse the full archives
                        </h4> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-button btn__bg">
                            <use xlink:href="#icon-button"></use>
                        </svg>
                    </a>
                </div>
                <div class="archives__menu--taxonomy -series">
                    <label class="archives__menu--label">Switch series:</label>
                    {{ range $section, $taxonomy := .Site.Sections }} {{ $m := index $.Site.Data.metadata (title $section) }} {{ if isset $m "name" }}
                    <a href="/{{ $section | urlize }}" title="Browse the {{ $m.name }} archives" class="btn -lg -green">
                        <h4 class="archives__menu--title btn__text">
                            {{ $m.name }}
                        </h4> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-button btn__bg">
                            <use xlink:href="#icon-button"></use>
                        </svg>
                    </a>
                    {{ end }} {{ end }}
                </div>
            </main>
        </nav>
    </div>
</main>
</div>
{{ partial "footer.html" . }}
