.icon-arrow-next { background-image: url('png/arrow-next.png'); background-repeat: no-repeat; }

.icon-arrow { background-image: url('png/arrow.png'); background-repeat: no-repeat; }

.icon-button { background-image: url('png/button.png'); background-repeat: no-repeat; }

.icon-comic-bg { background-image: url('png/comic-bg.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-gplus { background-image: url('png/gplus.png'); background-repeat: no-repeat; }

.icon-header-bg { background-image: url('png/header-bg.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-patreon { background-image: url('png/patreon.png'); background-repeat: no-repeat; }

.icon-patreon_full { background-image: url('png/patreon_full.png'); background-repeat: no-repeat; }

.icon-rss { background-image: url('png/rss.png'); background-repeat: no-repeat; }

.icon-tag { background-image: url('png/tag.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

